.idea/
build/
rpmbuild/
release/
docker/
build.sh
build_local.sh
OpenLinkHub
Buildfile
config.json
stdout.log
dashboard.json
database/temperatures/*.json
database/profiles/*.json
database/rgb/*.json
database/key-assignments/*.json
database/macros/*.json
database/led/*.json
database/lcd/*.json
database/scheduler.json
org.openlinkhub.OpenLinkHub.json
.flatpak-builder/
flatpak/
flatpak-build/