/* your styles go here */

nav#sidebar {
    width: 350px;
    max-width: 350px;
}

.custom-header {
    width: 100%;
    text-align: center;
}

.size-100 {
    width: 100%;
    overflow: hidden;
}

.size-80-fl {
   width: 80%;
   float: left;
}

.size-20-fr {
    width: 20%;
    float: right;
    text-align: right;
}

.nav-link-right {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #37cfdc;
    text-decoration: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.selected-effect {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.tempList:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.tempProfiles:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.macroList:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.rgbList:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.rgbList {
    margin-top: 10px;
}

.rgbList:first-of-type {
    margin-top: 1px;
}

.newTemp {
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.newLabel {
    cursor: pointer;
}

.newRgbLabel {
    cursor: pointer;
}

.newTemp:hover {
    border: 1px solid #a6a6a6;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.progress-bar .bg-dash-color-5 {
    background: #37cfdc;
}

.custom-code-div {
    background-color: #1c1c1c;
    width: 100%;
    border: 1px solid #3a6999;
}

.page-content {
    overflow: hidden;
    margin: 0 auto;
    background: #121212;
}

.container-fluid {
    width: auto;
    overflow: hidden;
    height: auto;
}

.bg-dash-dark-2 {
    background: #181818 !important;
    border-bottom: 1px solid #454545;
}
.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

footer {
    border-top: 1px solid #454545;
}

.footer-build-info {
    width: auto;
    vertical-align: middle;
    padding-left:10px;
    font-weight: normal;
}

.footer-images {
    width: auto;
    min-width: 80px;
}

.footer-link-color {
    color: #a1a1a1;
}

.footer-link-color-10px {
    color: #a1a1a1;
    margin-left: 10px;
}

.card {
    background-color: #181818;
    border: 1px solid #535353;
}

.card-header {
    padding: 1.125rem 1.5rem;
    margin-bottom: 0;
    background-color: #181818;
    border-bottom: 0 solid rgba(0, 0, 0, .125);
}

.text-dash-color-2 {
    color: #487fa1 !important;
}

.text-dash-color-2-custom {
    color: #487fa1 !important;
    font-size: 13px;
}

.text-dash-color-2-custom-15 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: 15px;
}

.text-dash-color-2-custom-4 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: 4px;
}

.text-dash-color-2-custom-minus-5 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: -5px;
}

.text-dash-color-3 {
    color: #898989 !important;
}

.progress {
    color: #2d2d2d !important;
}

.progress-bar {
    background-color: #555555;
}

.form-select {
    background-color: #181818 !important;
}

.form-control {
    background-color: #181818 !important;
}

.btn-secondary {
    color: #a1a1a1;
    background-color: #252525;
    border-color: #535353;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #484848;
    border-color: #6e6e6e;
}

.active-nav-link {
    color: #fff;
    background: #3b3b3b;
    border-color: #949494;
}

.modal-content {
    background-color: #181818;
}

.box-info {
    margin-left: 12px;
    border: 1px solid #454545;
    margin-bottom:10px;
    width:auto;
    padding-top: 0;
}

.custom-float-20-left {
    float: left;
    margin-top: 15px;
    width: 15%;
    text-align: left;
}

.custom-float-80-right {
    float: right;
    overflow: hidden;
    width: 85%;
}

.custom-device-block {
    overflow: hidden;
    width: 100%;
}

.full-hd {
    width: 1920px;
    margin: 0 auto;
}

.top-px {
    margin-top: 8px;
}

.device-px {
    margin-top:5px;
}

.btn-secondary-empty {
    cursor: auto;
    color: #a1a1a1;
    background-color: #181818;
    border-color: #535353;
}

.btn-secondary-empty:hover {
    cursor: auto;
    color: #fff;
    background-color: #232323;
    border-color: #6e6e6e;
}

.navigation-left-small {
    float: left;
    margin-left:0;
    width: 120px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.navigation-left-big {
    float: left;
    margin-left: 20px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.navigation-right-big {
    float: right;
    margin-left: 20px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.navigation-right-small {
    float: right;
    margin-left: 20px;
    width: 92px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.ds-svg-placeholder-left {
    float:left;
    width: 46px;
    height: 46px;
}

.ds-svg-placeholder-right {
    float:right;
    width: 155px;
}

.ds-svg-placeholder-right-2 {
    float:right;
    width: 205px;
}

.moveLeft {
    cursor: pointer;
}

.moveRight {
    cursor: pointer;
}

.moveUp {
    cursor: pointer;
}

.moveDown {
    cursor: pointer;
}

.align-center-text {
    text-align: center;
}

.card-secondary-empty {
    cursor: auto;
    background-color: #181818;
    border-color: #535353;
}

.card-secondary-empty:hover {
    cursor: auto;
    background-color: #232323;
    border-color: #6e6e6e;
}

.button-100 {
    width: 100%;
}

.div-100-10 {
    width: 100%;
    margin-top:10px;
}

.temp-left-70 {
    text-align: left;
    width: 60%;
    font-size: 15px;
}

.temp-right-30 {
    text-align: right;
    width: 40%;
    float: right;
}

.custom-device-name {
    font-size: 13px;
}

.custom-device-name-no-label {
    font-size: 13px;
    margin-top: 16px;
}

.size-46-46 {
    width: 46px;
    height: 46px;
}

.left-20-auto {
    margin-left: 20px;
    width:auto;
}

.left-20-auto-text-right {
    margin-left: 20px;
    width:auto;
    text-align: right;
}

.custom-lh-1 {
    line-height: 1;
}

.ctn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ctn-left {
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row-custom {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

.row-custom>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.key-uppercase {
    text-transform: uppercase;
}

.mousepad {
    margin: 0 auto;
    border: 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    width: 700px;
    height: 400px;
    text-align: center;
    background: #121212;
}

.stand {
    margin: 0 auto;
    border: 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    width: 530px;
    height: 560px;
    text-align: center;
    background: #121212;
}

.mouse {
    margin: 0 auto;
    border: 1px solid;
    width: 800px;
    height: auto;
    text-align: center;
    background: #121212;
    padding: 20px 30px 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #232323;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid #535353;
    border-radius: 5px;
    margin-top: 5px;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #37929d;
    cursor: pointer;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #37929d;
    cursor: pointer;
    border-radius: 5px;
}

.dpi-left {
    float: left;
    width: 15%;
    text-align: left;
    margin-top: 5px;
}

.dpi-middle {
    float: left;
    width: 70%;
}

.dpi-right {
    float: right;
    width: 10%;
}

.brightness-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #232323;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid #535353;
    border-radius: 5px;
    line-height: 1;
    margin-top: 17px;
}

.brightness-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.brightness-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #898989;
    cursor: pointer;
    border-radius: 5px;
}

.brightness-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #898989;
    cursor: pointer;
    border-radius: 5px;
}

.selected {
    outline:1px solid #37cfdc;
}

.dropdown-menu-dark {
    background-color: #181818;
    min-width: 10rem;
}

.dropdown-item {
    padding: .40rem .75rem;
}

.ds-svg-placeholder-right2 {
    float: left;
    width: auto;
    margin-left: 20px;
}

.keyboard-5 {
    display: grid;
    grid-template-rows: repeat(5, 60px);
    grid-auto-rows: 50px;
    grid-gap: 5px;
    padding: 5px;
    /*background-color: #181818;
    border: 1px solid #535353;*/
    justify-content: center;
    align-items: center;
}

.keyboard-6 {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-auto-rows: 50px;
    grid-gap: 5px;
    padding: 5px;
    /*background-color: #181818;
    border: 1px solid #535353;*/
    justify-content: center;
    align-items: center;
}

.keyboard-7 {
    display: grid;
    grid-template-rows: repeat(7, 60px);
    grid-auto-rows: 50px;
    grid-gap: 5px;
    padding: 5px;
    /*background-color: #181818;
    border: 1px solid #535353;*/
    justify-content: center;
    align-items: center;
}

.keyboard-8 {
    display: grid;
    grid-template-rows: repeat(8, 60px);
    grid-auto-rows: 50px;
    grid-gap: 5px;
    padding: 5px;
    /*background-color: #181818;
    border: 1px solid #535353;*/
    justify-content: center;
    align-items: center;
}

.keyboard-row-16 {
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-gap: 5px;
}

.keyboard-row-17 {
    display: grid;
    grid-template-columns: repeat(17, 60px);
    grid-gap: 5px;
}

.keyboard-row-18 {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-gap: 5px;
}

.keyboard-row-19 {
    display: grid;
    grid-template-columns: repeat(19, 60px);
    grid-gap: 5px;
}

.keyboard-row-20 {
    display: grid;
    grid-template-columns: repeat(20, 60px);
    grid-gap: 5px;
}

.keyboard-row-24 {
    display: grid;
    grid-template-columns: repeat(24, 60px);
    grid-gap: 5px;
}

.keyboard-row-25 {
    display: grid;
    grid-template-columns: repeat(25, 60px);
    grid-gap: 5px;
}

.keyboard-row-26 {
    display: grid;
    grid-template-columns: repeat(26, 60px);
    grid-gap: 5px;
}

.keyboard-row-27 {
    display: grid;
    grid-template-columns: repeat(26, 60px);
    grid-gap: 5px;
}

.keyboard-key {
    width: 60px;
    height: 60px;
    background-color: #1e1e1e;
    border: 1px solid #474747;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #bf8d19;
}

.keyboard-key-half-container {
    display: flex;
    flex-direction: column;
    height: 60px;
}

/* Special item with two parts stacked vertically */
.keyboard-key-half {
    width: 60px;
    height: 25px;
    background-color: #1e1e1e;
    border: 1px solid #474747;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #bf8d19;
    flex: 1;
}

.keyboard-key-half:active {
    background-color: #272727;
}

.keyboard-key-125 {
    width: 60px;
    height: 125px;
    background-color: #1e1e1e;
    border: 1px solid #474747;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #bf8d19;
    position: relative;
}

.keyboard-key-125:active {
    background-color: #272727;
}

.keyboard-key-125-125 {
    width: 125px;
    height: 125px;
    background-color: #1e1e1e;
    border: 1px solid #474747;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #bf8d19;
    position: relative;
}

.keyboard-key-125-125:active {
    background-color: #272727;
}


.keyboard-key-dot {
    width: 60px;
    height: 60px;
    background-color: #1e1e1e;
    border: 1px solid #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #bf8d19;
    border-radius: 50%;
}

.keyboard-key-empty {
    width: 60px;
    height: 60px;
}

.keyboard-key:active {
    background-color: #272727;
}

.keyboard-key.wide {
    grid-column: span 2;
    width: auto;
}

.keyboard-key.wide3 {
    grid-column: span 3;
    width: auto;
}
.keyboard-key-half.wide3 {
    grid-column: span 3;
    width: auto;
}

.keyboard-key.wide100 {
    width: 100%;
    height: 10px;
}

.keyboard-key.height100 {
    height: 100%;
    width: 10px;
}

.keyboard-key.empty {
    visibility: hidden;
}

.keyboard-key.height125top20 {
    width: 10px;
    margin-top: 20px;
    position: absolute;
}

.keyboard-key.height125top40 {
    width: 10px;
    margin-top: 40px;
    position: absolute;
}

.keyboard-key.height125top60 {
    width: 10px;
    margin-top: 60px;
    position: absolute;
}

.keyboard-key.height125topright {
    height: 100%;
    width: 10px;
    justify-self: end;
}

.keyboard-key.height125top20right {
    width: 10px;
    justify-self: end;
    margin-top: 20px;
    position: absolute;
}

.keyboard-key.height125top40right {
    width: 10px;
    justify-self: end;
    margin-top: 40px;
    position: absolute;
}

.keyboard-key.height125top60right {
    width: 10px;
    justify-self: end;
    margin-top: 60px;
    position: absolute;
}

.keyboard-key.wide4 {
    grid-column: span 4;
    width: auto;
}

.keyboard-key-half.wide4 {
    grid-column: span 4;
    width: auto;
}

.keyboard-key.wide5 {
    grid-column: span 5;
    width: auto;
}

.keyboard-key.wide6 {
    grid-column: span 6;
    width: auto;
}

.keyboard-key.wide7 {
    grid-column: span 7;
    width: auto;
}

.keyboard-key.wide8 {
    grid-column: span 8;
    width: auto;
}

input[type="color"] {
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    outline: none;
    -webkit-appearance: none; /* for Chrome/Safari */
    appearance: none;         /* modern standard */
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

canvas {
    background-color: #181818;
    border: 1px solid #535353;
    cursor: crosshair;
    width: auto;
    height: 500px;
}

.keySelector.active {
    border: 1px solid;
}

.modal-dialog-700 {
    max-width: 700px;
    margin: 1rem auto;
}

.modal-dialog-800 {
    max-width: 800px;
    margin: 1rem auto;
}

.modal-dialog-900 {
    max-width: 900px;
    margin: 1rem auto;
}

.modal-dialog-1000 {
    max-width: 1000px;
    margin: 1rem auto;
}

.device-selectable {
    cursor: pointer;
}

.device-selectable.device-selected {
    border: 1px solid #bf8d19;
}

.dashboard-device-name-left {
    float: left;
    width: auto;
}

.dashboard-device-name-right {
    float: left;
    width: auto;
}

.link-adapter-devices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.ram-container {
    margin-left: 10px;
}

.ram-container {
    background-color: #1a1a1a;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 450px;
}

.ram-title {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 15px;
}

.ram-stick {
    background: #232323;
    width: 100%;
    height: 100px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #656565;
}

.memory-chip {
    width: 50px;
    height: 70px;
    background: #111;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #000;
}

.contacts {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    height: 16px;
    padding: 0 20px;
}

.contact {
    width: 6px;
    height: 14px;
    background: #daa520;
    border-radius: 1px;
}

.ram-info {
    background-color: #111;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 15px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.info-label {
    color: #888;
}

.info-value {
    color: #39aafc;
}

.device-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 0;
    background-color: #181818;
    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.device-container-pump {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    background-color: #181818;
    border: 1px solid #535353;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.device-container-block {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    background-color: #181818;
    border: 1px solid #535353;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.device-container-strip {
    position: relative;
    height: 30px;
    margin-bottom: 0;
    background-color: #181818;
    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: #555;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #fff5;
}

.led {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #474747;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.led.on {
    background: lime;
    box-shadow: 0 0 6px lime;
}

.enter-custom {
    margin-top:-65px;
    height:125px;
}

.dt-search input {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8a8d93;
    background-color: #181818 !important;
    border: 1px solid #40444b;
}

.dt-length select {
    display:block;
    width:100%;
    padding:.375rem 2.25rem .375rem .75rem;
    -moz-padding-start:calc(.75rem - 3px);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#8a8d93;
    background-color: #181818 !important;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:right .75rem center;
    background-size:16px 12px;
    border:1px solid #40444b;
    border-radius:0;
    -webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
}

.dt-paging button {
    padding: 6px 12px;
    margin: 0 2px;
    border: 1px solid #40444b;
    border-radius: 6px;
    background-color: #181818 !important;
    cursor: pointer;
    font-size: 14px;
    color: #a1a1a1;

}

.dt-paging button:disabled,
.dt-paging button.disabled {
    background: #f1f1f1;
    color: #aaa;
    cursor: not-allowed;
}

.dt-paging button.current {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
}

.dt-paging button:not(:disabled):hover {
    outline:1px solid #37cfdc;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Active page */
.dt-paging button.current {
    background-color: #007bff;
    color: #a1a1a1;
    border: 1px solid #37cfdc;
}

.dt-length select:not(:disabled):hover {
    border-color:#37cfdc;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

#supported-devices_wrapper .dt-layout-row:last-child {
    display: flex;
    justify-content: space-between; /* spread items left + right */
    align-items: center;
}

#supported-devices_wrapper .dt-length {
    order: 2;
    margin-left: auto;
}

#supported-devices_wrapper .dt-search label {
    display: none;
}

#supported-devices_wrapper .dt-length label {
    display: none;
}

#supported-devices_info {
    display: none;
}