/* your styles go here */

nav#sidebar {
    width: 350px;
    max-width: 350px;
}

.custom-header {
    width: 100%;
    text-align: center;
}

.size-100 {
    width: 100%;
    overflow: hidden;
}

.size-80-fl {
   width: 80%;
   float: left;
}

.size-20-fr {
    width: 20%;
    float: right;
    text-align: right;
}

.nav-link-right {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #37cfdc;
    text-decoration: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.selected-effect {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.tempList:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.rgbList:hover {
    outline:1px solid #37cfdc;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.newTemp {
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.newLabel {
    cursor: pointer;
}

.newRgbLabel {
    cursor: pointer;
}

.newTemp:hover {
    border: 1px solid #a6a6a6;
    cursor: pointer;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.progress-bar .bg-dash-color-5 {
    background: #37cfdc;
}

.custom-code-div {
    background-color: #1c1c1c;
    width: 100%;
    border: 1px solid #3a6999;
}

.page-content {
    overflow: hidden;
    margin: 0 auto;
    background: #121212;
}

.container-fluid {
    width: auto;
    overflow: hidden;
    height: auto;
}

.bg-dash-dark-2 {
    background: #181818 !important;
    border-bottom: 1px solid #454545;
}
.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

footer {
    border-top: 1px solid #454545;
}

.card {
    background-color: #181818;
    border: 1px solid #535353;
}

.card-header {
    padding: 1.125rem 1.5rem;
    margin-bottom: 0;
    background-color: #181818;
    border-bottom: 0 solid rgba(0, 0, 0, .125);
}

.text-dash-color-2 {
    color: #487fa1 !important;
}

.text-dash-color-2-custom {
    color: #487fa1 !important;
    font-size: 13px;
}

.text-dash-color-2-custom-15 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: 15px;
}

.text-dash-color-2-custom-4 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: 4px;
}

.text-dash-color-2-custom-minus-5 {
    color: #487fa1 !important;
    font-size: 13px;
    margin-top: -5px;
}

.text-dash-color-3 {
    color: #898989 !important;
}

.progress {
    color: #2d2d2d !important;
}

.progress-bar {
    background-color: #555555;
}

.form-select {
    background-color: #181818 !important;
}

.form-control {
    background-color: #181818 !important;
}

.btn-secondary {
    color: #a1a1a1;
    background-color: #252525;
    border-color: #535353;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #484848;
    border-color: #6e6e6e;
}

.active-nav-link {
    color: #fff;
    background: #3b3b3b;
    border-color: #949494;
}

.modal-content {
    background-color: #181818;
}

.box-info {
    margin-left: 12px;
    border: 1px solid #454545;
    margin-bottom:10px;
    width:auto;
    padding-top: 0;
}

.custom-float-20-left {
    float: left;
    margin-top: 15px;
    width: 15%;
    text-align: left;
}

.custom-float-80-right {
    float: right;
    overflow: hidden;
    width: 85%;
}

.custom-device-block {
    overflow: hidden;
    width: 100%;
}

.full-hd {
    width: 1920px;
    margin: 0 auto;
}

.top-px {
    margin-top: 8px;
}

.device-px {
    margin-top:5px;
}

.btn-secondary-empty {
    cursor: auto;
    color: #a1a1a1;
    background-color: #181818;
    border-color: #535353;
}

.btn-secondary-empty:hover {
    cursor: auto;
    color: #fff;
    background-color: #232323;
    border-color: #6e6e6e;
}

.navigation-left-small {
    float: left;
    margin-left:0;
    width: 120px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.navigation-left-big {
    float: left;
    margin-left: 20px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.navigation-right-small {
    float: right;
    margin-left: 20px;
    width: 92px;
    height: 92px;
    text-align: center;
    padding: 6px 0 0;
}

.ds-svg-placeholder-left {
    float:left;
    width: 46px;
    height: 46px;
}

.ds-svg-placeholder-right {
    float:right;
    width: 155px;
}

.ds-svg-placeholder-right-2 {
    float:right;
    width: 205px;
}

.moveLeft {
    cursor: pointer;
}

.moveRight {
    cursor: pointer;
}

.align-center-text {
    text-align: center;
}

.card-secondary-empty {
    cursor: auto;
    background-color: #181818;
    border-color: #535353;
}

.card-secondary-empty:hover {
    cursor: auto;
    background-color: #232323;
    border-color: #6e6e6e;
}

.button-100 {
    width: 100%;
}

.div-100-10 {
    width: 100%;
    margin-top:10px;
}

.temp-left-70 {
    text-align: left;
    width: 60%;
    font-size: 15px;
}

.temp-right-30 {
    text-align: right;
    width: 40%;
    float: right;
}

.custom-device-name {
    font-size: 13px;
}

.size-46-46 {
    width: 46px;
    height: 46px;
}

.left-20-auto {
    margin-left: 20px;
    width:auto;
}

.left-20-auto-text-right {
    margin-left: 20px;
    width:auto;
    text-align: right;
}

.custom-lh-1 {
    line-height: 1;
}

.ctn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ctn-left {
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row-custom {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

.row-custom>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.key-uppercase {
    text-transform: uppercase;
}

.mousepad {
    margin: 0 auto;
    border: 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    width: 700px;
    height: 400px;
    text-align: center;
    background: #121212;
}

.stand {
    margin: 0 auto;
    border: 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    width: 530px;
    height: 560px;
    text-align: center;
    background: #121212;
}

.mouse {
    margin: 0 auto;
    border: 1px solid;
    width: 800px;
    height: auto;
    text-align: center;
    background: #121212;
    padding: 20px 30px 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #232323;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid #535353;
    border-radius: 5px;
    margin-top: 5px;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #37929d;
    cursor: pointer;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #37929d;
    cursor: pointer;
    border-radius: 5px;
}

.dpi-left {
    float: left;
    width: 15%;
    text-align: left;
    margin-top: 5px;
}

.dpi-middle {
    float: left;
    width: 70%;
}

.dpi-right {
    float: right;
    width: 10%;
}