<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="/static/css/style.blue.min.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $devices := $device.Devices }}
        {{ $rgbDevices := $device.RgbDevices }}
        {{ $rgb := .Rgb }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                <div class="row btn btn-secondary navigation-left-small">
                    <a href="/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-dashboard.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" /><br />
                        <span style="font-size: 13px;">Dashboard</span>
                    </a>
                </div>
                {{ range $d := $devs }}
                {{ if eq $d.Serial $device.Serial }}
                <div class="row btn btn-secondary active-nav-link navigation-left-big">
                    <a style="color: #a1a1a1;" href="/device/{{ $d.Serial }}">
                        {{ if eq $d.ProductType 8 }}
                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else if gt $d.ProductType 100 }}
                        <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else }}
                        <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ end }}
                        <span style="font-size: 13px;">{{ $d.Product }}</span>
                    </a>
                </div>
                {{ else }}
                <div class="row btn btn-secondary navigation-left-big">
                    <a style="color: #a1a1a1;" href="/device/{{ $d.Serial }}">
                        {{ if eq $d.ProductType 8 }}
                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else if gt $d.ProductType 100 }}
                        <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else }}
                        <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ end }}
                        <span style="font-size: 13px;">{{ $d.Product }}</span>
                    </a>
                </div>
                {{ end }}
                {{ end }}
                <div class="row btn btn-secondary navigation-right-small">
                    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub" target="_blank">
                        <img src="/static/img/icons/icon-github.svg" width="46" height="46" alt="GitHub" class="top-px" />
                        <span style="font-size: 13px;">GitHub</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/docs/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-api.svg" width="46" height="46" alt="API" class="top-px" />
                        <span style="font-size: 13px;">API</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/temperature" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" />
                        <span style="font-size: 13px;">Profiles</span>
                    </a>
                </div>
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="ctn">
                        <div style="float: left;width:auto;">
                            <div class="custom-device-block" style="width: 100%;">
                                <div style="float: left;text-align: left;width: 50%;">
                                    <div class="btn btn-secondary-empty" style="text-align: center;width: 95%;">
                            <span style="color: #a1a1a1;">
                                <img src="/static/img/icons/icon-cpu.svg" width="64" height="64" alt="CPU" class="top-px" /><br />
                                <p class="text-md-center lh-1 mb-0 text-dash-color-2 device-px" id="cpu_temp">{{ .CpuTemp }}</p>
                            </span>
                                    </div>
                                </div>
                                <div style="float: right;text-align: right;width: 50%;">
                                    {{ if .SystemInfo.GPU }}
                                    <div class="btn btn-secondary-empty" style="text-align: center;width: 95%;">
                            <span style="color: #a1a1a1;">
                                <img src="/static/img/icons/icon-gpu.svg" width="64" height="64" alt="CPU" class="top-px" /><br />
                                <p class="text-md-center lh-1 mb-0 text-dash-color-2 device-px" id="gpu_temp">{{ .GpuTemp }}</p>
                            </span>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>

                            <div style="width: 300px;margin-top:10px;">
                                <div class="card mb-4">
                                    <div class="card-header border-bottom border-dash-dark-1">
                                        <div class="ds-svg-placeholder-left">
                                            <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="Device" />
                                        </div>
                                        <div class="ds-svg-placeholder-right" style="width: 180px;">
                                            <span style="font-size: 13px;">{{ .Device.Product }}</span><br />
                                            <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                                <span>Device Settings</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 1rem 1rem;">
                                        <div style="text-align: center;">
                                            <div class="d-flex align-items-end justify-content-between mb-2">
                                                <div class="me-2">
                                                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Firmware</p>
                                                </div>
                                                <p class="text-sm lh-1 mb-0 text-dash-color-2">{{ .Device.Firmware }}</p>
                                            </div>
                                            <div class="progress" style="height: 3px">
                                                <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-person svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select userProfile" style="line-height: 1;margin-top: 10px;">
                                                        {{ range $key, $profile := $device.UserProfiles }}
                                                        {{ if $profile.Active }}
                                                        <option value="{{ $key }}" selected>{{ $key }}</option>
                                                        {{ else }}
                                                        <option value="{{ $key }}">{{ $key }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-lightning-charge svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select brightness" style="line-height: 1;margin-top: 10px;">
                                                        {{ range $key, $brightness := $device.Brightness }}
                                                        {{ if eq $device.DeviceProfile.Brightness $key }}
                                                        <option value="{{ $key }}" selected>{{ $brightness }}</option>
                                                        {{ else }}
                                                        <option value="{{ $key }}">{{ $brightness }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select globalRgb" style="line-height: 1;margin-top: 10px;">
                                                        {{ range $key, $_ := $rgb }}
                                                        <option value="{{ $key }}">{{ $key }}</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="overflow: hidden; margin-top: 10px;">
                                                <button class="btn btn-secondary saveUserProfile">
                                                    <span>Save As</span>
                                                </button>
                                            </div>

                                            <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top:10px;">
                                                <div class="me-2">
                                                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">3-Pin Corsair RGB Hub</p>
                                                </div>
                                            </div>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top:10px;">
                                                <p class="text-lg lh-1 mb-0 text-dash-color-2 externalHubDevice" style="width: 100%">
                                                    <select class="form-select mb-1 externalHubDeviceType" id="externalHubDeviceType" style="line-height: 1;">
                                                        {{ range $key, $value := $device.ExternalLedDevice }}
                                                        {{ if eq $value.Index $device.DeviceProfile.ExternalHubDeviceType }}
                                                        <option value="{{ $value.Index }}" selected>{{ $value.Name }}</option>
                                                        {{ else }}
                                                        <option value="{{ $value.Index }}">{{ $value.Name }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                    <input type="hidden" class="portId" value="0">
                                                </p>
                                            </div>
                                            <div class="d-flex align-items-end justify-content-between mb-2">
                                                <p class="text-lg lh-1 mb-0 text-dash-color-2 externalHubDevice" style="width: 100%">
                                                    <select class="form-select mb-1 externalHubDeviceAmount" id="externalHubDeviceAmount" style="line-height: 1;">
                                                        {{ range $key, $value := $device.ExternalLedDeviceAmount }}
                                                        {{ if eq $key $device.DeviceProfile.ExternalHubDeviceAmount }}
                                                        <option value="{{ $key }}" selected>{{ $value }}</option>
                                                        {{ else }}
                                                        <option value="{{ $key }}">{{ $value }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                    <input type="hidden" class="portId" value="0">
                                                </p>
                                            </div>

                                            {{ $freePorts := len $device.FreeLedPorts }}
                                            {{ if gt $freePorts 0 }}
                                            <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top:10px;">
                                                <div class="me-2">
                                                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Custom ARGB Device</p>
                                                </div>
                                            </div>
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-cpu svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select customLedPort" style="line-height: 1;margin-top: 10px;">
                                                        {{ range $key, $value := $device.FreeLedPorts }}
                                                        <option value="{{ $key }}">{{ $value }}</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-chat-left-dots svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select customLedPortLEDAmount" style="line-height: 1;margin-top: 10px;">
                                                        {{ range $key, $externalLedDevice := $device.ExternalLedDevice }}
                                                        <option value="{{ $externalLedDevice.Index }}">{{ $externalLedDevice.Name }}</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="overflow: hidden; margin-top: 10px;">
                                                <button class="btn btn-secondary addCustomARGBDevice">
                                                    <span>Add Device</span>
                                                </button>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ctn-left">
                            <div class="row">
                                {{ range $device := $devices }}
                                <div style="width: 300px;">
                                    <div class="card mb-4">
                                        <div class="card-header border-bottom border-dash-dark-1">
                                            <div class="ds-svg-placeholder-left">
                                                {{ if $device.ContainsPump }}
                                                <img src="/static/img/icons/icon-pump.svg" width="46" height="46" alt="Device" />
                                                {{ else if $device.IsTemperatureProbe }}
                                                <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Device" />
                                                {{ else }}
                                                <img src="/static/img/icons/icon-fan.svg" width="46" height="46" alt="Device" />
                                                {{ end }}
                                            </div>
                                            <div class="ds-svg-placeholder-right">
                                                <span style="font-size: 13px;">{{ $device.Name }}</span><br />
                                                <p class="text-md-start lh-1 mb-0 text-dash-color-3 newLabel" style="margin-top: 5px;">
                                                    <input type="hidden" class="deviceData" value="{{ $device.ChannelId }}">
                                                    <span class="labelValue">{{ $device.Label }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-body" style="padding: 1rem 1rem;">
                                            <div style="text-align: center;">
                                                {{ if $device.HasTemps }}
                                                {{ if gt $device.Temperature 0.00 }}
                                                <div class="d-flex align-items-end justify-content-between mb-2">
                                                    <div class="me-2">
                                                        <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Temp</p>
                                                    </div>
                                                    <p class="text-sm lh-1 mb-0 text-dash-color-2" id="temperature-{{ .DeviceId }}">{{ $device.TemperatureString }}</p>
                                                </div>
                                                <div class="progress" style="height: 3px">
                                                    <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {{ end }}
                                                {{ end }}

                                                {{ if $device.HasSpeed }}
                                                <div class="d-flex align-items-end justify-content-between mb-2" {{ if $device.HasTemps }} style="margin-top: 10px;" {{ end }}>
                                                    <div class="me-2">
                                                        <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Speed</p>
                                                    </div>
                                                    <p class="text-sm lh-1 mb-0 text-dash-color-2" id="speed-{{ .DeviceId }}" style="margin-top: 5px;">{{ $device.Rpm }} RPM</p>
                                                </div>
                                                <div class="progress" style="height: 3px">
                                                    <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {{ end }}
                                            </div>

                                            {{ if $device.HasSpeed }}
                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-thermometer-half svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select tempProfile" name="{{ $device.DeviceId }}" style="line-height: 1;margin-top: 10px;">
                                                        {{ if $device.PumpModes }}
                                                        {{ range $key, $value := $device.PumpModes }}
                                                        {{ if eq $device.Profile $value }}
                                                        <option value="{{ $device.ChannelId }};{{ $value }}" selected>{{ $value }}</option>
                                                        {{ else }}
                                                        <option value="{{ $device.ChannelId }};{{ $value }}">{{ $value }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                        {{ else }}
                                                        {{ range $key, $pf := $temperatures }}
                                                        {{ if $pf.Hidden }}
                                                        {{ continue }}
                                                        {{ end }}
                                                        {{ if eq $device.Profile $key }}
                                                        <option value="{{ $device.ChannelId }};{{ $key }}" selected>{{ $key }}</option>
                                                        {{ else }}
                                                        <option value="{{ $device.ChannelId }};{{ $key }}">{{ $key }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>

                            <div class="row">
                                {{ range $device := $rgbDevices }}
                                <div style="width: 300px;">
                                    <div class="card mb-4">
                                        <div class="card-header border-bottom border-dash-dark-1">
                                            <div class="ds-svg-placeholder-left">
                                                {{ if $device.ContainsPump }}
                                                <img src="/static/img/icons/icon-pump.svg" width="46" height="46" alt="Device" />
                                                {{ else if $device.IsTemperatureProbe }}
                                                <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Device" />
                                                {{ else }}
                                                <img src="/static/img/icons/icon-rgb.svg" width="46" height="46" alt="Device" />
                                                {{ end }}
                                            </div>
                                            <div class="ds-svg-placeholder-right">
                                                <span style="font-size: 13px;">{{ $device.Name }}</span><br />
                                                <p class="text-md-start lh-1 mb-0 text-dash-color-3 newRgbLabel" style="margin-top: 5px;">
                                                    <input type="hidden" class="deviceData" value="{{ $device.ChannelId }}">
                                                    <span class="labelValue">{{ $device.Label }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-body" style="padding: 1rem 1rem;">
                                            {{ if gt $device.LedChannels 0 }}
                                            <div class="custom-device-block">
                                                <div class="custom-float-20-left">
                                                    <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                                </div>
                                                <div class="custom-float-80-right">
                                                    <select class="form-select rgbProfile" style="line-height: 1;margin-top:10px;">
                                                        {{ range $key, $_ := $rgb }}
                                                        {{ if eq $key $device.RGB }}
                                                        <option value="{{ $device.ChannelId }};{{ $key }}" selected>{{ $key }}</option>
                                                        {{ else }}
                                                        <option value="{{ $device.ChannelId }};{{ $key }}">{{ $key }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
            <div class="container-fluid fa-pull-left" style="padding-left:20px;">
                <p class="mb-0 text-dash-gray fa-pull-left">OS: {{ .SystemInfo.Kernel.OsType }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">Architecture: {{ .SystemInfo.Kernel.Architecture }}</p>
            </div>
            <div class="container-fluid fa-pull-left" style="padding-left:15px;">
                <p class="mb-0 text-dash-gray fa-pull-left">Build: {{ .BuildInfo.Revision }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">{{ .BuildInfo.Time }}</p>
            </div>
        </footer>
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
</body>
</html>