{{ if eq .Device.Template "lsh.html" }}
{{ template "lsh.html" . }}
{{ else if eq .Device.Template "cc.html" }}
{{ template "cc.html" . }}
{{ else if eq .Device.Template "ccxt.html" }}
{{ template "ccxt.html" . }}
{{ else if eq .Device.Template "elite.html" }}
{{ template "elite.html" . }}
{{ else if eq .Device.Template "lncore.html" }}
{{ template "lncore.html" . }}
{{ else if eq .Device.Template "lnpro.html" }}
{{ template "lnpro.html" . }}
{{ else if eq .Device.Template "cpro.html" }}
{{ template "cpro.html" . }}
{{ else if eq .Device.Template "xc7.html" }}
{{ template "xc7.html" . }}
{{ else if eq .Device.Template "memory.html" }}
{{ template "memory.html" . }}
{{ else if eq .Device.Template "k65pm.html" }}
{{ template "k65pm.html" . }}
{{ else if eq .Device.Template "k70core.html" }}
{{ template "k70core.html" . }}
{{ else if eq .Device.Template "k55core.html" }}
{{ template "k55core.html" . }}
{{ else if eq .Device.Template "k70pro.html" }}
{{ template "k70pro.html" . }}
{{ end }}