{{ if eq .Device.Template "lsh.html" }}
{{ template "lsh.html" . }}
{{ else if eq .Device.Template "cc.html" }}
{{ template "cc.html" . }}
{{ else if eq .Device.Template "ccxt.html" }}
{{ template "ccxt.html" . }}
{{ else if eq .Device.Template "elite.html" }}
{{ template "elite.html" . }}
{{ else if eq .Device.Template "lncore.html" }}
{{ template "lncore.html" . }}
{{ else if eq .Device.Template "lnpro.html" }}
{{ template "lnpro.html" . }}
{{ else if eq .Device.Template "cpro.html" }}
{{ template "cpro.html" . }}
{{ end }}