<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="/static/css/style.blue.min.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                <div class="row btn btn-secondary active-nav-link navigation-left-small">
                    <a href="/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-dashboard.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" /><br />
                        <span style="font-size: 13px;">Dashboard</span>
                    </a>
                </div>

                {{ range .Devices }}
                <div class="row btn btn-secondary navigation-left-big">
                    <a style="color: #a1a1a1;width: 100%;height: 100%" href="/device/{{ .Serial }}">
                        <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="{{ .Product }}" class="top-px" /><br />
                        <span style="font-size: 13px;">{{ .Product }}</span>
                    </a>
                </div>
                {{ end }}

                <div class="row btn btn-secondary navigation-right-small">
                    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub" target="_blank">
                        <img src="/static/img/icons/icon-github.svg" width="46" height="46" alt="GitHub" class="top-px" />
                        <span style="font-size: 13px;">GitHub</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/docs/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-api.svg" width="46" height="46" alt="API" class="top-px" />
                        <span style="font-size: 13px;">API</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/temperature" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" />
                        <span style="font-size: 13px;">Profiles</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="#" style="color: #a1a1a1;" id="app-settings">
                        <img src="/static/img/icons/icon-settings.svg" width="46" height="46" alt="Settings" class="top-px" />
                        <span style="font-size: 13px;">Settings</span>
                    </a>
                </div>
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                {{ $dash := .Dashboard }}
                {{ if $dash.ShowDevices }}
                {{ range .Devices }}
                {{ $dev := .GetDevice }}
                {{ if $dev }}
                {{ $devices := $dev.Devices }}
                <div class="row gy-4" style="margin-bottom: 20px;">
                    <div class="bg-dash-dark-2 py-4 box-info">
                        <div class="container-fluid">
                            <h2 class="h5 mb-0">{{ .Product }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        {{ if eq (len $devices) 0 }}
                        {{ if $dev.HasLCD }}
                        <div style="width: 370px;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left" style="width: 46px;height: 46px;">
                                        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Device" />
                                    </div>

                                    <div class="ds-svg-placeholder-left left-20-auto">
                                        <span style="font-size: 13px;">{{ $dev.Product }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                            <span>{{ $dev.DeviceProfile.Label }}</span>
                                        </p>
                                    </div>

                                    <div class="ds-svg-placeholder-right left-20-auto-text-right">
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                            {{ if gt $dev.Temperature 0.00 }}
                                            <span class="text-dash-color-2" id="temperature-0">{{ $dev.TemperatureString }}</span>
                                            {{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ else }}
                        {{ range $device := $devices }}
                        <div style="width: 370px;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left size-46-46">
                                        {{ if $device.ContainsPump }}
                                        <img src="/static/img/icons/icon-pump.svg" width="46" height="46" alt="Device" />
                                        {{ else if and (eq $device.IsTemperatureProbe true) (eq $device.HasSpeed false) }}
                                        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Device" />
                                        {{ else }}
                                        <img src="/static/img/icons/icon-fan.svg" width="46" height="46" alt="Device" />
                                        {{ end }}
                                    </div>

                                    <div class="ds-svg-placeholder-left left-20-auto">
                                        <span class="custom-device-name">{{ $device.Name }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                            <span>{{ $device.Label }}</span>
                                        </p>
                                    </div>

                                    <div class="ds-svg-placeholder-right left-20-auto-text-right">
                                        {{ if $device.HasSpeed }}
                                        {{ if $device.HasTemps }}
                                        <span class="text-dash-color-2-custom" id="speed-{{ $dev.Serial }}-{{ $device.ChannelId }}">{{ $device.Rpm }} RPM</span><br />
                                        {{ else }}
                                        <span class="text-dash-color-2-custom-15" id="speed-{{ $dev.Serial }}-{{ $device.ChannelId }}">{{ $device.Rpm }} RPM</span><br />
                                        {{ end }}
                                        {{ end }}
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                            {{ if $device.HasTemps }}
                                            {{ if gt $device.Temperature 0.00 }}
                                            {{ if $device.HasSpeed }}
                                            <span class="text-dash-color-2-custom" id="temp-{{ $dev.Serial }}-{{ $device.ChannelId }}">{{ $device.TemperatureString }}</span>
                                            {{ else }}
                                            <span class="text-dash-color-2-custom-15" id="temp-{{ $dev.Serial }}-{{ $device.ChannelId }}">{{ $device.TemperatureString }}</span>
                                            {{ end }}
                                            {{ end }}
                                            {{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
                {{ end }}


                <div class="row gy-4">
                    <div class="bg-dash-dark-2 py-4 box-info">
                        <div class="container-fluid">
                            <h2 class="h5 mb-0">Temperature Sensors</h2>
                        </div>
                    </div>
                    <div class="row">
                        {{ if .Dashboard.ShowCpu }}
                        <!-- CPU -->
                        <div style="width: auto;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left" style="width: 46px;height: 46px;">
                                        <img src="/static/img/icons/icon-cpu.svg" width="46" height="46" alt="Device" />
                                    </div>

                                    <div class="ds-svg-placeholder-left" style="margin-left: 20px;width:auto">
                                        <span style="font-size: 13px;">{{ .SystemInfo.CPU.Model }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;width: 100%">
                                            <span class="temp-left-70">Temperature</span>
                                            <span id="cpu_temp" class="temp-right-30 text-dash-color-2-custom-4">{{ .CpuTemp }}</span><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}

                        {{ if .Dashboard.ShowGpu }}
                        <!-- GPU -->
                        {{ if .SystemInfo.GPU }}
                        <div style="width: auto;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left" style="width: 46px;height: 46px;">
                                        <img src="/static/img/icons/icon-gpu.svg" width="46" height="46" alt="Device" />
                                    </div>

                                    <div class="ds-svg-placeholder-left" style="margin-left: 20px;width:auto">
                                        <span style="font-size: 13px;">{{ .SystemInfo.GPU.Model }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;width: 100%">
                                            <span class="temp-left-70">Temperature</span>
                                            <span id="gpu_temp" class="temp-right-30 text-dash-color-2-custom-4">{{ .GpuTemp }}</span><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}

                        {{ if .Dashboard.ShowDisk }}
                        <!-- Storage -->
                        {{ if .SystemInfo.Storage }}
                        {{ range .SystemInfo.Storage }}

                        <div style="width: auto;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left" style="width: 46px;height: 46px;">
                                        <img src="/static/img/icons/icon-storage.svg" width="46" height="46" alt="Device" />
                                    </div>

                                    <div class="ds-svg-placeholder-right" style="margin-left: 20px;min-width: 200px">
                                        <span style="font-size: 13px;">{{ .Model }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;width: 100%">
                                            <span class="temp-left-70">Temperature</span>
                                            <span id="storage_temp-{{ .Key }}" class="temp-right-30 text-dash-color-2-custom-4">{{ $dash.TemperatureToString .Temperature }}</span><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
        <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
            <div class="container-fluid fa-pull-left" style="padding-left:20px;">
                <p class="mb-0 text-dash-gray fa-pull-left">OS: {{ .SystemInfo.Kernel.OsType }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">Architecture: {{ .SystemInfo.Kernel.Architecture }}</p>
            </div>
            <div class="container-fluid fa-pull-left" style="padding-left:15px;">
                <p class="mb-0 text-dash-gray fa-pull-left">Build: {{ .BuildInfo.Revision }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">{{ .BuildInfo.Time }}</p>
            </div>

            <div class="container-fluid fa-pull-right">
                <p class="mb-0 text-dash-gray fa-pull-right">{{ .SystemInfo.CPU.Model }} ({{ .SystemInfo.CPU.Cores }}C - {{ .SystemInfo.CPU.Threads }}T)</p><br />
                <p class="mb-0 text-dash-gray fa-pull-right">{{ .SystemInfo.Motherboard.Model }} ({{ .SystemInfo.Motherboard.BIOS }} - {{ .SystemInfo.Motherboard.BIOSDate }})</p>
            </div>
        </footer>
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>