<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="/static/css/style.blue.min.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $rgb := .Rgb }}
        {{ $profile := $device.DeviceProfile.Profile }}
        {{ $keyboard := index $device.DeviceProfile.Keyboards $profile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                <div class="row btn btn-secondary navigation-left-small">
                    <a href="/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-dashboard.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" /><br />
                        <span style="font-size: 13px;">Dashboard</span>
                    </a>
                </div>

                {{ range $d := $devs }}
                {{ if eq $d.Serial $device.Serial }}
                <div class="row btn btn-secondary active-nav-link navigation-left-big">
                    <a style="color: #a1a1a1;" href="/device/{{ $d.Serial }}">
                        {{ if eq $d.ProductType 8 }}
                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else if gt $d.ProductType 100 }}
                        <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else }}
                        <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ end }}
                        <span style="font-size: 13px;">{{ $d.Product }}</span>
                    </a>
                </div>
                {{ else }}
                <div class="row btn btn-secondary navigation-left-big">
                    <a style="color: #a1a1a1;" href="/device/{{ $d.Serial }}">
                        {{ if eq $d.ProductType 8 }}
                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else if gt $d.ProductType 100 }}
                        <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ else }}
                        <img src="/static/img/icons/icon-device.svg" width="46" height="46" alt="{{ $d.Product }}" class="top-px" /><br />
                        {{ end }}
                        <span style="font-size: 13px;">{{ $d.Product }}</span>
                    </a>
                </div>
                {{ end }}
                {{ end }}

                <div class="row btn btn-secondary navigation-right-small">
                    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub" target="_blank">
                        <img src="/static/img/icons/icon-github.svg" width="46" height="46" alt="GitHub" class="top-px" />
                        <span style="font-size: 13px;">GitHub</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/docs/" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-api.svg" width="46" height="46" alt="API" class="top-px" />
                        <span style="font-size: 13px;">API</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/temperature" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" />
                        <span style="font-size: 13px;">Profiles</span>
                    </a>
                </div>

                <div class="row btn btn-secondary navigation-right-small">
                    <a href="/scheduler" style="color: #a1a1a1;">
                        <img src="/static/img/icons/icon-schedule.svg" width="46" height="46" alt="Settings" class="top-px" />
                        <span style="font-size: 13px;">Scheduler</span>
                    </a>
                </div>
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        {{ if eq .Device.Connected false }}
                        <div class="card mb-4">
                        <div class="card-header border-bottom border-dash-dark-1">
                            <div class="ds-svg-placeholder-left">
                                <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="Device" />
                            </div>
                            <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                <span>{{ .Device.Product }}</span><br />
                                <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                    <span style="color: #37929d !important;">Firmware: {{ .Device.Firmware }}</span>
                                </p>
                            </div>
                            <div class="ds-svg-placeholder-right" style="width:auto;margin-left: 30px;margin-top: 11px;">
                                <span>Device is not connected!</span><br />
                            </div>
                        </div>
                        </div>
                        {{ else }}
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                    <span>{{ .Device.Product }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span style="color: #37929d !important;">Firmware: {{ .Device.Firmware }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card-header border-bottom border-dash-dark-1">
                                <table>
                                    <tr>
                                        <th style="width:8%"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Layout</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">User Profile</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Brightness</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">RGB Profile</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Sleep</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Save Profile</p></th>
                                        <th style="width:60%;padding-left: 15px;"></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-select keyLayout" style="margin-top: 10px;" name="keyLayout">
                                                {{ range $layout := $device.Layouts }}
                                                {{ if eq $device.DeviceProfile.Layout $layout }}
                                                <option value="{{ $layout }}" selected>{{ $layout }}</option>
                                                {{ else }}
                                                <option value="{{ $layout }}">{{ $layout }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <select class="form-select userProfile" style="margin-top: 10px;" name="userProfile">
                                                {{ range $key, $profile := $device.UserProfiles }}
                                                {{ if $profile.Active }}
                                                <option value="{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <select class="form-select brightness" style="margin-top: 10px;" name="brightness">
                                                {{ range $key, $brightness := $device.Brightness }}
                                                {{ if eq $device.DeviceProfile.Brightness $key }}
                                                <option value="{{ $key }}" selected>{{ $brightness }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $brightness }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <select class="form-select keyboardRgbProfile" name="keyboardRgbProfile" style="margin-top:10px;">
                                                {{ range $key, $mode := $device.RGBModes }}
                                                {{ if eq $key $device.DeviceProfile.RGBProfile }}
                                                <option value="0;{{ $key }}" selected>{{ $mode }}</option>
                                                {{ else }}
                                                <option value="0;{{ $key }}">{{ $mode }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <select class="form-select sleepModes" style="margin-top: 10px;" name="sleepModes">
                                                {{ range $key, $sleepMode := $device.SleepModes }}
                                                {{ if eq $device.DeviceProfile.SleepMode $key }}
                                                <option value="{{ $key }}" selected>{{ $sleepMode }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $sleepMode }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <button class="btn btn-secondary saveUserProfile" style="margin-top: 10px;">
                                                <span>Save As</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            {{ if eq "keyboard" $device.DeviceProfile.RGBProfile }}
                            <div class="card-body" style="padding: 1rem 1rem;margin: 0 auto;">
                                {{ range $index, $keys := $keyboard.Row }}
                                <div class="row" style="{{ if eq $index 4 }}margin-top:-85px;{{ else if eq $index 6 }}margin-top:-85px;{{ else }}{{ end }}">
                                    {{ range $index, $keys := .Keys }}
                                    <div class="keyboardColor" data-info="{{ $index }};{{ $keyboard.Color.Red }};{{ $keyboard.Color.Green }};{{ $keyboard.Color.Blue }}" style="cursor: pointer;border: 1px solid rgba({{ $keyboard.Color.Red }}, {{ $keyboard.Color.Green }}, {{ $keyboard.Color.Blue }}, 1);;width: {{ $keys.Width }}px;height: {{ $keys.Height }}px;text-align: center;vertical-align: middle;margin-left:{{ $keys.Left }}px;margin-top:{{ $keys.Top }}px;">
                                        <p style="margin-top:5px;font-size: 12px;" class="key-uppercase">
                                            {{ if $keys.Svg }}
                                            <img src="/static/img/icons/{{ $keys.KeyName }}" width="16" height="16" alt="Icon" style="margin-top: 4px;"/>
                                            {{ else }}
                                            {{ $keys.KeyName }}
                                            {{ end }}
                                        </p>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                                <div class="row">
                                    <div class="progress" style="height: 2px;margin-top:10px;">
                                    </div>
                                </div>
                                <div style="float: left;width: 400px;">
                                    <input type="color" id="keyColor" style="width: 100px;margin-top: 10px;height: 38px;padding: 0;float: left;">


                                    <select class="form-select keyOptions" name="0" style="margin-top:10px;width: 150px;float: left;margin-left: 10px;">
                                        <option value="2">All Keys</option>
                                    </select>

                                    <button class="btn btn-secondary" id="applyColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                        <span>Apply</span>
                                    </button>

                                </div>
                                <div style="float: right;width: 450px;">
                                    <select class="form-select keyboardProfile" name="keyboardProfile" style="margin-top:10px;width: 150px;float: right;margin-left: 10px;">
                                        {{ range $key := $device.DeviceProfile.Profiles }}
                                        {{ if eq $key $device.DeviceProfile.Profile }}
                                        <option value="{{ $key }}" selected>{{ $key }}</option>
                                        {{ else }}
                                        <option value="{{ $key }}">{{ $key }}</option>
                                        {{ end }}
                                        {{ end }}
                                    </select>
                                    <button class="btn btn-secondary" id="saveAsProfile" style="margin-top: 10px;margin-left: 10px;float: right;">
                                        <span>Save As</span>
                                    </button>
                                    <button class="btn btn-secondary" id="saveProfile" style="margin-top: 10px;margin-left: 10px;float: right">
                                        <span>Save</span>
                                    </button>
                                    <button class="btn btn-danger" id="deleteProfile" style="margin-top: 10px;margin-left: 10px;float: right">
                                        <span>Delete</span>
                                    </button>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>
        <footer class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs" id="footer">
            <div class="container-fluid fa-pull-left" style="padding-left:20px;">
                <p class="mb-0 text-dash-gray fa-pull-left">OS: {{ .SystemInfo.Kernel.OsType }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">Architecture: {{ .SystemInfo.Kernel.Architecture }}</p>
            </div>
            <div class="container-fluid fa-pull-left" style="padding-left:15px;">
                <p class="mb-0 text-dash-gray fa-pull-left">Build: {{ .BuildInfo.Revision }}</p><br />
                <p class="mb-0 text-dash-gray fa-pull-left">{{ .BuildInfo.Time }}</p>
            </div>
        </footer>
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
</body>
</html>