{{ define "lcd-arc" }}
{{ $arc := index .LCDProfiles 100 }}
{{ $lcdSensors := .LCDSensors }}
<div class="col-md-2">
    <div class="card mb-2">
        <div class="card-header border-bottom border-dash-dark-1">{{ $arc.Name }}</div>
        <div class="card-body">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <th style="width: 50%;height:50px;">Sensor</th>
                    <th style="width: 50%">
                        <select class="form-select sensorType" id="sensorType_{{ $arc.Id }}" style="width: auto;float: right;">
                            {{ range $k, $v := $lcdSensors }}
                            {{ if eq $k $arc.Sensor }}
                            <option value="{{ $k }}" selected>{{ $v }}</option>
                            {{ else }}
                            <option value="{{ $k }}">{{ $v }}</option>
                            {{ end }}
                            {{ end }}
                        </select>
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Margin</th>
                    <th style="width: 50%">
                        <input class="form-control" id="margin_{{ $arc.Id }}" type="text" value="{{ $arc.Margin }}">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Thickness</th>
                    <th style="width: 50%">
                        <input class="form-control" id="thickness_{{ $arc.Id }}" type="text" value="{{ $arc.Thickness }}">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Bottom Gap</th>
                    <th style="width: 50%">
                        <input class="form-control" id="gapRadians_{{ $arc.Id }}" type="text" value="{{ $arc.GapRadians }}">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Background</th>
                    <th style="width: 50%">
                        <input type="color" id="backgroundColor_{{ $arc.Id }}" value="{{ $arc.Background.Hex }}" style="float: right;">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Border Color</th>
                    <th style="width: 50%">
                        <input type="color" id="borderColor_{{ $arc.Id }}" value="{{ $arc.BorderColor.Hex }}" style="float: right;">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Start Color</th>
                    <th style="width: 50%">
                        <input type="color" id="startColor_{{ $arc.Id }}" value="{{ $arc.StartColor.Hex }}" style="float: right;">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">End Color</th>
                    <th style="width: 50%">
                        <input type="color" id="endColor_{{ $arc.Id }}" value="{{ $arc.EndColor.Hex }}" style="float: right;">
                    </th>
                </tr>

                <tr>
                    <th style="width: 50%;height:50px;">Text Color</th>
                    <th style="width: 50%">
                        <input type="color" id="textColor_{{ $arc.Id }}" value="{{ $arc.TextColor.Hex }}" style="float: right;">
                    </th>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="card-body" style="padding: 1rem 1rem;border-top: 1px solid #34373d !important;">
            <div class="input-group">
                <button class="btn btn-primary saveArcProfile" data-info="{{ $arc.Id }}">Save Profile</button>
            </div>
        </div>
    </div>
</div>
{{ end }}