<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>

<div class="container-fluid">
    {{ $devs := .Devices }}
    {{ $device := .Device }}
    <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
    <div class="row">
        <!-- Sidebar -->
        {{ template "sidebar" . }}

        <!-- Main -->
        <main class="main-content p-4">
            <!-- Temperature bar -->
            {{ if .Dashboard.TemperatureBar }}
            {{ template "temperature-bar" . }}
            {{ end }}

            <!-- LCD -->
            <div class="row g-4 mb-4 align-items-start">
                <!-- Upload -->
                {{ template "lcd-upload" . }}

                <!-- Arc -->
                {{ template "lcd-arc" . }}

                <!-- Double Arc -->
                {{ template "lcd-doublearc" . }}

                <!-- Animation -->
                {{ template "lcd-animation" . }}
            </div>
        </main>
    </div>
</div>
<script src="/static/js/lcd.js"></script>
<script src="/static/js/sidebar.js"></script>
{{ if .Dashboard.TemperatureBar }}
<script src="/static/js/temperature-bar.js"></script>
{{ end }}
</body>
</html>
