<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $rgbModes := .Device.RGBModes }}
        {{ $rgb := .Rgb }}
        {{ $profile := $device.DeviceProfile.Profile }}
        {{ $keyboard := index $device.DeviceProfile.Keyboards $profile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-keyboard.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                    <span>{{ .Device.Product }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span style="color: #37929d !important;">{{ .Lang "txtFirmware" }}: {{ .Device.Firmware }}</span>
                                    </p>
                                </div>
                                <div class="ds-svg-placeholder-right" style="width:auto;margin-left: 30px;">
                                    <span title="{{ .Lang "txtConnectionUsb" }}" class="btn btn-secondary-empty" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-usb-symbol svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </span>
                                    <span title="{{ .Lang "txtPerformance" }}" class="btn btn-secondary-empty keyboardPerformance" type="button" style="margin-top: 5px;">
                                    <i class="bi bi-speedometer svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </span>
                                    <span title="{{ .Lang "txtBatteryLevel" }}" class="btn btn-secondary-empty" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-battery-full svg-icon svg-icon-sm svg-icon-heavy"></i>
                                        {{ $device.BatteryLevel }} %
                                    </span>
                                    <button title="{{ .Lang "txtKeyboardLayout" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-layout-text-sidebar svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select keyLayout" name="keyLayout">
                                                {{ range $layout := $device.Layouts }}
                                                {{ if eq $device.DeviceProfile.Layout $layout }}
                                                <option value="{{ $layout }}" selected>{{ $layout }}</option>
                                                {{ else }}
                                                <option value="{{ $layout }}">{{ $layout }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="{{ .Lang "txtUserProfile" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-person-dash svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select userProfile" name="userProfile">
                                                {{ range $key, $profile := $device.UserProfiles }}
                                                {{ if $profile.Active }}
                                                <option value="{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="{{ .Lang "txtRgbProfile" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select keyboardRgbProfile" name="keyboardRgbProfile">
                                                {{ range $key, $mode := $rgbModes }}
                                                {{ if eq $mode $device.DeviceProfile.RGBProfile }}
                                                <option value="0;{{ $mode }}" selected>{{ $mode }}</option>
                                                {{ else }}
                                                <option value="0;{{ $mode }}">{{ $mode }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <span title="{{ .Lang "txtControlDialColors" }}" class="btn btn-secondary-empty controlDialColors" type="button" style="margin-top: 5px;">
                                    <i class="bi bi-circle-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </span>
                                    <button title="{{ .Lang "txtControlDial" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-circle svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select controlDial" name="controlDial">
                                                {{ range $key, $dialOptions := $device.ControlDialOptions }}
                                                {{ if eq $device.DeviceProfile.ControlDial $key }}
                                                <option value="{{ $key }}" selected>{{ $dialOptions }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $dialOptions }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="{{ .Lang "txtRgbCluster" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <img src="/static/img/icons/icon-cluster.svg" alt="{{ .Lang "txtRgbCluster" }}" class="svg-icon svg-icon-sm svg-icon-heavy" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select rgbCluster">
                                                {{ if $device.DeviceProfile.RGBCluster }}
                                                <option value="1" selected>Enabled</option>
                                                <option value="0">Disabled</option>
                                                {{ else }}
                                                <option value="1">Enabled</option>
                                                <option value="0" selected>Disabled</option>
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="{{ .Lang "txtSaveUserProfile" }}" class="btn btn-secondary-empty saveUserProfile" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-save2-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="{{ $device.UIKeyboard }}" style="margin-top: 10px;margin-bottom: 10px;">
                                {{ range $index, $keys := $keyboard.Row }}
                                {{ if gt $keys.Top 0 }}
                                <div class="{{ $device.UIKeyboardRow }}" style="margin-top:{{ $keys.Top }}px;">
                                {{ else if gt (len $keys.Css) 0 }}
                                <div class="{{ $keys.Css }}">
                                {{ else }}
                                <div class="{{ $device.UIKeyboardRow }}">
                                {{ end }}
                                    {{ range $index, $keys := .Keys }}
                                    {{ range $index, $keyEmpty := $keys.KeyEmpty }}
                                    <div class="{{ $keyEmpty }}"></div>
                                    {{ end }}

                                    {{ range $amount := $keys.Spacing }}
                                    <div class="keyboard-key-empty"></div>
                                    {{ end }}

                                    {{ if gt (len $keys.KeySpace) 0 }}
                                    <div class="{{ $keys.KeySpace }} keyboardColor keySelector {{ $keys.Css }}" data-info="{{ $index }};{{ $keys.Color.Red }};{{ $keys.Color.Green }};{{ $keys.Color.Blue }}">
                                    {{ else }}
                                    <div class="keyboard-key keyboardColor keySelector {{ $keys.Css }}" data-info="{{ $index }};{{ $keys.Color.Red }};{{ $keys.Color.Green }};{{ $keys.Color.Blue }}">
                                    {{ end }}
                                        {{ if $keys.NoColor }}
                                        <span class="key-uppercase" style="color: rgba(255,255,255,1);text-align: center;align-items: center;justify-content: center;display: flex;">
                                            {{ $keys.KeyName }}
                                        </span>
                                        {{ else }}
                                        <span class="key-uppercase"  style="color: rgba({{ $keys.Color.Red }}, {{ $keys.Color.Green }}, {{ $keys.Color.Blue }}, 1);width: 100%;text-align: center;">
                                            {{ $keys.KeyName }}
                                        </span>
                                        {{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                                <div>
                                    <div style="float: left;width: 400px;">
                                        <input type="color" id="keyColor" style="width: 100px;margin-top: 10px;height: 38px;padding: 0;float: left;">
                                        <select class="form-select keyOptions" name="0" style="margin-top:10px;width: 150px;float: left;margin-left: 10px;">
                                            <option value="0">{{ .Lang "txtCurrentKey" }}</option>
                                            <option value="1">{{ .Lang "txtCurrentRow" }}</option>
                                            <option value="2">{{ .Lang "txtAllKeys" }}</option>
                                        </select>
                                        <button class="btn btn-secondary" id="applyColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Apply</span>
                                        </button>
                                    </div>
                                    <div style="float: right;width: auto;">
                                        <select class="form-select keyboardProfile" name="keyboardProfile" style="margin-top:10px;width: 150px;float: right;margin-left: 10px;">
                                            {{ range $key := $device.DeviceProfile.Profiles }}
                                            {{ if eq $key $device.DeviceProfile.Profile }}
                                            <option value="{{ $key }}" selected>{{ $key }}</option>
                                            {{ else }}
                                            <option value="{{ $key }}">{{ $key }}</option>
                                            {{ end }}
                                            {{ end }}
                                        </select>
                                        <button class="btn btn-secondary" id="saveAsProfile" style="margin-top: 10px;margin-left: 10px;float: right;">
                                            <span>{{ .Lang "txtSaveAs" }}</span>
                                        </button>
                                        <button class="btn btn-secondary" id="saveProfile" style="margin-top: 10px;margin-left: 10px;float: right">
                                            <span>{{ .Lang "txtSave" }}</span>
                                        </button>
                                        <button class="btn btn-danger" id="deleteProfile" style="margin-top: 10px;margin-left: 10px;float: right">
                                            <span>{{ .Lang "txtDelete" }}</span>
                                        </button>
                                    </div>
                                    <div style="float: right;width: auto;" class="keyAssignmentsArea">
                                        <button class="btn btn-secondary openKeyAssignmentsWithModifier" style="margin-top: 10px;margin-left: 10px;float: right;">
                                            <span>{{ .Lang "txtKeyAssignments" }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
</body>
</html>