<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $devices := $device.Devices }}
        {{ $rgb := .Rgb }}
        {{ $deviceProfile := .Device.DeviceProfile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        {{ if gt $device.LEDChannels 0 }}
                        <div style="width: 300px;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left">
                                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="Device" />
                                    </div>
                                    <div class="ds-svg-placeholder-right">
                                        <span style="font-size: 13px;">{{ .Device.Product }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                            <span>Device Settings</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body" style="padding: 1rem 1rem;">
                                    <div style="text-align: center;">
                                        <div class="custom-device-block">
                                            <div class="custom-float-20-left">
                                                <i class="bi bi-person svg-icon svg-icon-sm svg-icon-heavy"></i>
                                            </div>
                                            <div class="custom-float-80-right">
                                                <select class="form-select userProfile" style="line-height: 1;margin-top: 10px;">
                                                    {{ range $key, $profile := $device.UserProfiles }}
                                                    {{ if $profile.Active }}
                                                    <option value="{{ $key }}" selected>{{ $key }}</option>
                                                    {{ else }}
                                                    <option value="{{ $key }}">{{ $key }}</option>
                                                    {{ end }}
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="custom-device-block">
                                            <div class="custom-float-20-left">
                                                <img src="/static/img/icons/icon-brightness2.svg" width="20" height="20" alt="Brightness" style="vertical-align: top;"/>
                                            </div>
                                            <div class="custom-float-80-right">
                                                <input class="brightness-slider" type="range" id="brightnessSlider" name="brightnessSlider" min="0" max="100" value="{{ $deviceProfile.BrightnessSlider }}" step="5" />
                                            </div>
                                        </div>
                                        <div class="custom-device-block">
                                            <div class="custom-float-20-left">
                                                <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                            </div>
                                            <div class="custom-float-80-right">
                                                <select class="form-select globalRgb" style="line-height: 1;margin-top: 10px;">
                                                    {{ range $key, $_ := $rgb }}
                                                    {{ if eq $key "stand" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "keyboard" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "mousepad" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "mouse" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "liquid-temperature" }}
                                                    {{ continue }}
                                                    {{ end }}
                                                    <option value="{{ $key }}">{{ $key }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>
                                        <div style="overflow: hidden; margin-top: 10px;">
                                            <button class="btn btn-secondary saveUserProfile">
                                                <span>Save As</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ range $device := $devices }}
                        <div style="width: 350px;">
                            <div class="card mb-4">
                                <div class="card-header border-bottom border-dash-dark-1">
                                    <div class="ds-svg-placeholder-left" style="width: 46px;height: 52px;">
                                        <img src="/static/img/icons/icon-ram.svg" width="46" height="46" alt="Device" />
                                    </div>

                                    <div class="ds-svg-placeholder-right-2">
                                        <span style="font-size: 13px;">{{ $device.Name }}</span><br />
                                        <p class="text-md-start lh-1 mb-0 text-dash-color-3 newLabel" style="margin-top: 5px;">
                                            <input type="hidden" class="deviceData" value="{{ $device.ChannelId }}">
                                            <span class="labelValue">{{ $device.Label }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body" style="padding: 1rem 1rem;">
                                    <div style="text-align: center;">
                                        <div class="d-flex align-items-end justify-content-between mb-2">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">SKU</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2">{{ $device.Sku }}</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top: 10px;">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Size</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2">{{ $device.Size }} GB</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top: 10px;">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Type</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2">DDR{{ $device.MemoryType }}</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top: 10px;">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Speed</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2">{{ $device.Speed }} MHz</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top: 10px;">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Latency</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2">C{{ $device.Latency }}</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                        {{ if gt $device.Temperature 0.00 }}
                                        <div class="d-flex align-items-end justify-content-between mb-2" style="margin-top: 10px;">
                                            <div class="me-2">
                                                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Temp</p>
                                            </div>
                                            <p class="text-sm lh-1 mb-0 text-dash-color-2" id="temperature-{{ $device.ChannelId }}">{{ $device.TemperatureString }}</p>
                                        </div>
                                        <div class="progress" style="height: 3px">
                                            <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        {{ end }}

                                        {{ if gt $device.LedChannels 0 }}
                                        <div class="custom-device-block">
                                            <div class="custom-float-20-left">
                                                <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                            </div>
                                            <div class="custom-float-80-right">
                                                <select class="form-select rgbProfile" style="line-height: 1;margin-top:10px;">
                                                    {{ range $key, $_ := $rgb }}
                                                    {{ if eq $key $device.RGB }}
                                                    <option value="{{ $device.ChannelId }};{{ $key }}" selected>{{ $key }}</option>
                                                    {{ else }}
                                                    {{ if eq $key "stand" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "keyboard" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "mousepad" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "mouse" }}
                                                    {{ continue }}
                                                    {{ else if eq $key "liquid-temperature" }}
                                                    {{ continue }}
                                                    {{ end }}
                                                    <option value="{{ $device.ChannelId }};{{ $key }}">{{ $key }}</option>
                                                    {{ end }}
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
</body>
</html>