<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $rgb := .Rgb }}
        {{ $stand := $device.DeviceProfile.Stand }}
        {{ $deviceProfile := .Device.DeviceProfile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-mousepad.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                    <span>{{ .Device.Product }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span style="color: #37929d !important;">Firmware: {{ .Device.Firmware }}</span>
                                    </p>
                                </div>
                                <div class="ds-svg-placeholder-right" style="width:auto;margin-left: 30px;">
                                    <button title="User Profile" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-person-dash svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select userProfile" name="userProfile">
                                                {{ range $key, $profile := $device.UserProfiles }}
                                                {{ if $profile.Active }}
                                                <option value="{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="Brightness" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-brightness-high svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="background-color: transparent;border: 0;">
                                        <li>
                                            <input class="brightness-slider" type="range" id="brightnessSlider" name="brightnessSlider" min="0" max="100" value="{{ $deviceProfile.BrightnessSlider }}" style="margin-top:0" step="5" />
                                        </li>
                                    </ul>

                                    <button title="RGB Profile" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select miscRgbProfile" name="miscRgbProfile">
                                                {{ range $key, $_ := $rgb }}
                                                {{ if eq $key "liquid-temperature" }}
                                                {{ continue }}
                                                {{ else if eq $key "keyboard" }}
                                                {{ continue }}
                                                {{ else if eq $key "stand" }}
                                                {{ continue }}
                                                {{ else if eq $key "circle" }}
                                                {{ continue }}
                                                {{ else if eq $key "circleshift" }}
                                                {{ continue }}
                                                {{ else if eq $key "mouse" }}
                                                {{ continue }}
                                                {{ else if eq $key "headset" }}
                                                {{ continue }}
                                                {{ end }}
                                                {{ if eq $key $device.DeviceProfile.RGBProfile }}
                                                <option value="0;{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="0;{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    <button title="Save user profile" class="btn btn-secondary-empty saveUserProfile" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-save2-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                </div>
                            </div>
                            {{ if eq "mousepad" $device.DeviceProfile.RGBProfile }}
                            <div class="card-body" style="padding: 1rem 1rem;margin: 0 auto;">
                                <div class="mousepad">
                                    {{ range $index, $keys := $stand.Row }}
                                    <div class="row">
                                        {{ range $index, $zones := .Zones }}
                                        <div class="miscColor" data-info="{{ $index }};{{ $zones.Color.Red }};{{ $zones.Color.Green }};{{ $zones.Color.Blue }}" style="cursor: pointer;border: 1px solid rgba({{ $zones.Color.Red }}, {{ $zones.Color.Green }}, {{ $zones.Color.Blue }}, 1);;width: {{ $zones.Width }}px;height: {{ $zones.Height }}px;text-align: center;vertical-align: middle;margin-left:{{ $zones.Left }}px;margin-top:{{ $zones.Top }}px;">
                                            <p style="margin-top:5px;font-size: 12px;" class="key-uppercase">
                                                {{ $zones.Name }}
                                            </p>
                                        </div>
                                        {{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                                <div style="margin: 0 auto;">
                                    <div style="float: left;width: 700px;">
                                        <input type="color" id="miscColor" style="width: 100px;margin-top: 10px;height: 38px;padding: 0;float: left;">

                                        <select class="form-select miscOptions" name="0" style="margin-top:10px;width: 150px;float: left;margin-left: 10px;">
                                            <option value="0">Current Area</option>
                                            <option value="1">Current Row</option>
                                            <option value="2">All Rows</option>
                                        </select>

                                        <button class="btn btn-secondary" id="applyColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Apply</span>
                                        </button>
                                        <button class="btn btn-secondary" id="saveProfile" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Save</span>
                                        </button>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
</body>
</html>