{{ define "navigation" }}
{{ $dev := .Device }}

{{ if eq .Page "index" }}
<div class="row btn btn-secondary active-nav-link navigation-left-small" style="width: auto;">
    <a style="color: #a1a1a1;" href="/">
        <img src="/static/img/icons/icon-dashboard.svg" width="46" height="46" alt="Dashboard" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtDashboard" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-left-small" style="width: auto;">
    <a style="color: #a1a1a1;" href="/">
        <img src="/static/img/icons/icon-dashboard.svg" width="46" height="46" alt="Dashboard" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtDashboard" }}</span>
    </a>
</div>
{{ end }}

{{ range .Devices }}
{{ if eq .Hidden true }}
{{ continue }}
{{ end }}

{{ if eq $dev.Serial .Serial }}
<div class="row btn btn-secondary active-nav-link navigation-left-big">
    <a style="color: #a1a1a1;" href="/device/{{ .Serial }}">
        <img src="/static/img/icons/{{ .Image }}" width="46" height="46" alt="{{ .Product }}" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Product }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-left-big">
    <a style="color: #a1a1a1;" href="/device/{{ .Serial }}">
        <img src="/static/img/icons/{{ .Image }}" width="46" height="46" alt="{{ .Product }}" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Product }}</span>
    </a>
</div>
{{ end }}
{{ end }}

<!--
<div class="row btn btn-secondary navigation-right-small">
    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub" target="_blank">
        <img src="/static/img/icons/icon-github.svg" width="46" height="46" alt="GitHub" class="top-px" />
        <span style="font-size: 13px;">GitHub</span>
    </a>
</div>

{{ if eq .Page "documentation" }}
<div class="row btn btn-secondary active-nav-link navigation-right-small">
    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub/tree/main/api" target="_blank">
        <img src="/static/img/icons/icon-api.svg" width="46" height="46" alt="API" class="top-px" />
        <span style="font-size: 13px;">API</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-small">
    <a style="color: #a1a1a1;" href="https://github.com/jurkovic-nikola/OpenLinkHub/tree/main/api" target="_blank">
        <img src="/static/img/icons/icon-api.svg" width="46" height="46" alt="API" class="top-px" />
        <span style="font-size: 13px;">API</span>
    </a>
</div>
{{ end }}
-->

<!-- Profiles -->
{{ if eq .Page "temperature" }}
<div class="row btn btn-secondary active-nav-link navigation-right-big">
    <a style="color: #a1a1a1;" href="/temperature">
        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtProfiles" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-big">
    <a style="color: #a1a1a1;" href="/temperature">
        <img src="/static/img/icons/icon-temperature.svg" width="46" height="46" alt="Temperature Profiles" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtProfiles" }}</span>
    </a>
</div>
{{ end }}

<!-- Scheduler -->
{{ if eq .Page "scheduler" }}
<div class="row btn btn-secondary active-nav-link navigation-right-big">
    <a style="color: #a1a1a1;" href="/scheduler">
        <img src="/static/img/icons/icon-schedule.svg" width="46" height="46" alt="Scheduler" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtScheduler" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-big">
    <a style="color: #a1a1a1;" href="/scheduler">
        <img src="/static/img/icons/icon-schedule.svg" width="46" height="46" alt="Scheduler" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtScheduler" }}</span>
    </a>
</div>
{{ end }}

<!-- Rgb -->
{{ if eq .Page "rgb" }}
<div class="row btn btn-secondary active-nav-link navigation-right-big">
    <a style="color: #a1a1a1;" href="/rgb">
        <img src="/static/img/icons/icon-rgb.svg" width="46" height="46" alt="RGB Editor" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtRgbEditor" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-big">
    <a style="color: #a1a1a1;" href="/rgb">
        <img src="/static/img/icons/icon-rgb.svg" width="46" height="46" alt="RGB Editor" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtRgbEditor" }}</span>
    </a>
</div>
{{ end }}

<!-- Macros -->
{{ if eq .Page "macros" }}
<div class="row btn btn-secondary active-nav-link navigation-right-big">
    <a style="color: #a1a1a1;" href="/macros">
        <img src="/static/img/icons/icon-macro.svg" width="46" height="46" alt="Macros" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtMacros" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-big">
    <a style="color: #a1a1a1;" href="/macros">
        <img src="/static/img/icons/icon-macro.svg" width="46" height="46" alt="Macros" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtMacros" }}</span>
    </a>
</div>
{{ end }}

<!-- LCD -->
{{ if eq .Page "lcd" }}
<div class="row btn btn-secondary active-nav-link navigation-right-big">
    <a style="color: #a1a1a1;" href="/lcd">
        <img src="/static/img/icons/icon-lcd.svg" width="46" height="46" alt="LCD" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtLcd" }}</span>
    </a>
</div>
{{ else }}
<div class="row btn btn-secondary navigation-right-big">
    <a style="color: #a1a1a1;" href="/lcd">
        <img src="/static/img/icons/icon-lcd.svg" width="46" height="46" alt="LCD" class="top-px" /><br />
        <span style="font-size: 13px;">{{ .Lang "txtLcd" }}</span>
    </a>
</div>
{{ end }}

{{ end }}