<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/static/vendor/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="/static/css/style.blue.min.css" id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <div class="d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-center p-4">
          <div class="custom-header">
            <h1 class="h5 mb-1">Device Dashboard</h1>
          </div>
        </div><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Navigation</span>
        <ul class="list-unstyled">

          <li class="sidebar-item active">
            <a class="sidebar-link" href="/ui">
              <i class="bi bi-cpu svg-icon svg-icon-sm svg-icon-heavy"></i>
              <span>{{.Device.Product}}</span>
            </a>
          </li>
        </ul>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Documentation</span>
        <ul class="list-unstyled">
          <li class="sidebar-item">
            <a class="sidebar-link" href="https://github.com/jurkovic-nikola/OpenICUELinkHub" target="_blank">
              <i class="bi bi-github svg-icon svg-icon-sm svg-icon-heavy"></i>
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="page-content">
        <div class="bg-dash-dark-2 py-4">
          <div class="container-fluid">
            <h2 class="h5 mb-0">{{.Device.Product}}</h2>
          </div>
        </div>
        <section class="pt-0 pt-sm-4">
          <div class="container-fluid">
            <div class="row gy-4">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="row gx-5">
                      <div class="col-12 border-sm-end border-dash-dark-1">
                        <div class="d-flex">
                          <div>
                            <p class="text-xl fw-normal mb-0">{{ .SystemInfo.OS.Name }}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">Vendor: {{.SystemInfo.OS.Vendor}}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">Timezone: {{.SystemInfo.Node.Timezone}}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">Kernel: {{.SystemInfo.Kernel.Release}}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">CPU: {{.SystemInfo.CPU.Model}} {{.SystemInfo.CPU.Cores}} cores / {{.SystemInfo.CPU.Threads}} threads</p>
                            <p class="text-uppercase text-sm fw-light mb-2">Board: {{.SystemInfo.Board.Name}} ({{.SystemInfo.Board.Vendor}})</p>
                            <p class="text-uppercase text-sm fw-light mb-2">BIOS: {{.SystemInfo.BIOS.Version}} ({{.SystemInfo.BIOS.Date}})</p>
                            <p class="text-uppercase text-sm fw-light mb-2">Storage:</p>
                            {{ range .SystemInfo.Storage}}
                            <p class="text-uppercase text-sm fw-light mb-2">- {{.Model}} ({{.Serial}}) {{.Size}} GB</p>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="card">
                  <div class="card-body">
                    <div class="row gx-5">
                      <div class="col-6 border-sm-end border-dash-dark-1">
                        <div class="d-flex">
                          <div>
                            <p class="text-xl fw-normal mb-0">{{ .Device.Product }}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">FW: {{ .Device.Firmware }}</p>
                            <div class="progress" style="height: 2px">
                              <div class="progress-bar bg-dash-color-1" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="d-flex justify-content-center text-center">
                          <div class="px-3 px-lg-4">
                            {{ if .Device.Standalone }}
                            <p class="text-lg fw-normal mb-0">Enabled</p><span class="text-sm text-uppercase mb-0">Standalone</span>
                            {{ else }}
                            <p class="text-lg fw-normal mb-0">Disabled</p><span class="text-sm text-uppercase mb-0">Standalone</span>
                            {{ end }}
                          </div>
                          <div class="px-3 px-lg-4">
                            <p class="text-lg fw-normal mb-0">{{ .Device.Manufacturer }}</p><span class="text-sm text-uppercase mb-0">Vendor</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                {{ range .Device.Devices}}
                <div class="card">
                  <div class="card-body">
                    <div class="row gx-5">
                      <div class="col-6 border-sm-end border-dash-dark-1">
                        <div class="d-flex">
                          <div>
                            <p class="text-xl fw-normal mb-0">{{ .Name}}</p>
                            <p class="text-uppercase text-sm fw-light mb-2">{{ .DeviceId}}</p>
                            <div class="progress" style="height: 2px">
                              <div class="progress-bar bg-dash-color-1" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="d-flex justify-content-center text-center">
                          <div class="px-3 px-lg-4">
                            <p class="text-lg fw-normal mb-0">{{ .Temperature }}</p><span class="text-sm text-uppercase mb-0">Temperature</span>
                          </div>
                          <div class="px-3 px-lg-4">
                            <p class="text-lg fw-normal mb-0">{{ .Rpm }}</p><span class="text-sm text-uppercase mb-0">Speed</span>
                          </div>
                          <div class="px-3 px-lg-4">
                            <p class="text-lg fw-normal mb-0">{{ .ChannelId }}</p><span class="text-sm text-uppercase mb-0">Channel</span>
                          </div>
                          <div class="px-3 px-lg-4">
                            <p class="text-lg fw-normal mb-0">{{ .Description }}</p><span class="text-sm text-uppercase mb-0">Type</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br/>
                {{ end }}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/home-premium.js">  </script>
    <script src="/static/js/front.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>