<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>

<div class="container-fluid">
    {{ $root := . }}
    {{ $devs := .Devices }}
    {{ $device := .Device }}
    <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
    <div class="row">
        <!-- Sidebar -->
        {{ template "sidebar" . }}

        <!-- Main -->
        <main class="main-content p-4">
            <!-- Temperature bar -->
            {{ if .Dashboard.TemperatureBar }}
            {{ template "temperature-bar" . }}
            {{ end }}

            <!-- RGB Editor -->
            <div class="row g-4 mb-4 align-items-start">
                <div class="col-md-2">
                    <div class="card system-card text-center">
                        <div class="card-header">
                            {{ $root.Lang "txtRgbDevices" }}
                        </div>
                        <div class="card-body">
                            <div class="settings-list">
                                {{ range $key, $value := .RGBProfiles }}
                                {{ if eq $value nil }}
                                {{ continue }}
                                {{ end }}
                                <div class="settings-row rgbList" id="{{ $key }}">
                                    <span class="settings-label text-ellipsis">{{ $value.Device }}</span>
                                    <span class="settings-label text-ellipsis"></span>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row g-4 mb-4 align-items-start" id="rgbDivList"></div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/static/js/rgb.js"></script>
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
{{ if .Dashboard.TemperatureBar }}
<script src="/static/js/temperature-bar.js"></script>
{{ end }}
</body>
</html>
