<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $device := .Device }}
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>
        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div style="width: 300px;">
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-rgb.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-right">
                                    <span style="font-size: 13px;">{{ .Lang "txtRgbControl" }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span>{{ .Lang "txtRgbOnOff" }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 1rem 1rem;">
                                <div style="text-align: center;">
                                    <div class="d-flex align-items-end justify-content-between mb-2">
                                        <div class="me-2">
                                            <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">{{ .Lang "txtEnable" }}</p>
                                        </div>
                                        {{ if .Scheduler.RGBControl }}
                                        <input class="form-check-input" id="rgbControl" type="checkbox" checked>
                                        {{ else }}
                                        <input class="form-check-input" id="rgbControl" type="checkbox">
                                        {{ end }}
                                    </div>
                                    <div class="progress" style="height: 3px">
                                        <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="custom-device-block">
                                        <div class="custom-float-20-left">
                                            <i class="bi bi-lightbulb-off-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                        </div>
                                        <div class="custom-float-80-right" style="margin-top: 8px;">
                                            <input type="time" id="rgbOff" name="rgbOff" value="{{ .Scheduler.RGBOff }}" class="form-control input-datepicker-autoclose datepicker-input" />
                                        </div>
                                    </div>

                                    <div class="custom-device-block">
                                        <div class="custom-float-20-left">
                                            <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                        </div>
                                        <div class="custom-float-80-right" style="margin-top: 8px;">
                                            <input type="time" id="rgbOn" name="rgbOn" value="{{ .Scheduler.RGBOn }}" class="form-control input-datepicker-autoclose datepicker-input" />
                                        </div>
                                    </div>
                                    <div style="overflow: hidden; margin-top: 10px;">
                                        <button class="btn btn-secondary saveRgbControl">
                                            <span>{{ .Lang "txtSave" }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/dataTables.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/scheduler.js"></script>
</body>
</html>