<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $rgb := .Rgb }}
        {{ $profile := $device.DeviceProfile.Profile }}
        {{ $deviceProfile := .Device.DeviceProfile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <input type="hidden" id="zones" name="zones" value="4">
        <input type="hidden" id="dpis" name="dpis" value="5">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-mouse.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                    <span>{{ .Device.Product }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span style="color: #37929d !important;">Firmware: {{ .Device.Firmware }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="card-header border-bottom border-dash-dark-1">
                                <table>
                                    <tr>
                                        <th style="width:8%;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">User Profile</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Brightness</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">RGB Profile</p></th>
                                        <th style="width:8%;padding-left: 15px;"><p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Save Profile</p></th>
                                        <th style="width:60%;padding-left: 15px;"></th>
                                    </tr>
                                    <tr>
                                        <td >
                                            <select class="form-select userProfile" style="margin-top: 10px;" name="userProfile">
                                                {{ range $key, $profile := $device.UserProfiles }}
                                                {{ if $profile.Active }}
                                                <option value="{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <input class="brightness-slider" type="range" id="brightnessSlider" name="brightnessSlider" min="0" max="100" value="{{ $deviceProfile.BrightnessSlider }}" step="5" />
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <select class="form-select mouseRgbProfile" name="mouseRgbProfile" style="margin-top:10px;">
                                                {{ range $key, $_ := $rgb }}
                                                {{ if eq $key "stand" }}
                                                {{ continue }}
                                                {{ else if eq $key "liquid-temperature" }}
                                                {{ continue }}
                                                {{ else if eq $key "mousepad" }}
                                                {{ continue }}
                                                {{ else if eq $key "keyboard" }}
                                                {{ continue }}
                                                {{ else if eq $key "circle" }}
                                                {{ continue }}
                                                {{ else if eq $key "circleshift" }}
                                                {{ continue }}
                                                {{ else if eq $key "spinner" }}
                                                {{ continue }}
                                                {{ else if eq $key "headset" }}
                                                {{ continue }}
                                                {{ end }}
                                                {{ if eq $key $device.DeviceProfile.RGBProfile }}
                                                <option value="0;{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="0;{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <button class="btn btn-secondary saveUserProfile" style="margin-top: 10px;">
                                                <span>Save As</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-body" style="padding: 1rem 1rem;margin: 0 auto;">
                                <div class="mouse">
                                    <div class="row">
                                        {{ range $key, $pf := $device.DeviceProfile.Profiles }}
                                        <div style="margin-top: 10px;">
                                            <div class="dpi-left">
                                                <p style="color: rgba({{ $pf.Color.Red }}, {{ $pf.Color.Green }}, {{ $pf.Color.Blue }}, 1);">
                                                    {{ if eq $key $device.DeviceProfile.Profile }}
                                                    {{ $pf.Name }} *
                                                    {{ else }}
                                                    {{ $pf.Name }}
                                                    {{ end }}
                                                </p>
                                            </div>
                                            <div class="dpi-middle">
                                                <input type="range" min="200" max="18000" value="{{ $pf.Value }}" class="slider" id="stage{{ $key }}">
                                            </div>
                                            <div class="dpi-right">
                                                <input class="form-control" id="stageValue{{ $key }}" type="text" value="{{ $pf.Value }}">
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if eq "mouse" $device.DeviceProfile.RGBProfile }}
                                        <div class="row" style="margin: 10px auto 0;">
                                            {{ range $key, $dpiZone := $device.DeviceProfile.Profiles }}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="card mb-4">
                                                    <div style="margin-top: 10px;">
                                                        <span style="margin-bottom: 10px;">DPI: {{ $dpiZone.Name }}</span>
                                                        <div>
                                                            <input type="color" id="dpiColor{{ $key }}" value="{{ $dpiZone.Color.Hex }}" style="padding: 0;margin-bottom: 15px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>

                                        <div class="row" style="margin: 10px auto 0;">
                                        {{ range $key, $zone := $device.DeviceProfile.ZoneColors }}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="card mb-4">
                                                    <div style="margin-top: 10px;">
                                                        <span style="margin-bottom: 10px;">{{ $zone.Name }}</span>
                                                        <div>
                                                            <input type="color" id="zoneColor{{ $key }}" value="{{ $zone.Color.Hex }}" style="padding: 0;margin-bottom: 15px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{ end }}
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                                <div style="margin: 0 auto;">
                                    <div style="float: left;width: 530px;">
                                        <button class="btn btn-secondary" id="default5DPI" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Default</span>
                                        </button>
                                        <button class="btn btn-secondary" id="saveDPI" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Save DPI</span>
                                        </button>
                                        {{ if eq "mouse" $device.DeviceProfile.RGBProfile }}
                                        <button class="btn btn-secondary" id="saveZoneColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Save Zone Colors</span>
                                        </button>
                                        <button class="btn btn-secondary" id="saveDpiColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                            <span>Save DPI Colors</span>
                                        </button>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
<script src="/static/js/mouse.js"></script>
</body>
</html>