<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $root := . }}
        {{ $devs := .Devices }}
        {{ $rgbModes := .Device.RGBModes }}
        {{ $macros := .Macros }}
        {{ $temperatures := .Temperatures }}
        {{ $device := .Device }}
        {{ $rgb := .Rgb }}
        {{ $profile := $device.DeviceProfile.Profile }}
        {{ $deviceProfile := .Device.DeviceProfile }}
        <input type="hidden" id="deviceId" name="deviceId" value="{{ $device.Serial }}">
        <input type="hidden" id="zones" name="zones" value="4">
        <input type="hidden" id="dpis" name="dpis" value="6">
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>

        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4" style="margin-top: 10px;">
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header border-bottom border-dash-dark-1">
                                <div class="ds-svg-placeholder-left">
                                    <img src="/static/img/icons/icon-mouse.svg" width="46" height="46" alt="Device" />
                                </div>
                                <div class="ds-svg-placeholder-left" style="width:auto;margin-left: 30px;">
                                    <span>{{ .Device.Product }}</span><br />
                                    <p class="text-md-start lh-1 mb-0 text-dash-color-3" style="margin-top: 5px;">
                                        <span style="color: #37929d !important;">{{ .Lang "txtFirmware" }}: {{ .Device.Firmware }}</span>
                                    </p>
                                </div>
                                <div class="ds-svg-placeholder-right" style="width:auto;margin-left: 30px;">
                                    <span title="{{ .Lang "txtConnectionUsb" }}" class="btn btn-secondary-empty" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-usb-symbol svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </span>
                                    
                                    <button title="{{ .Lang "txtUserProfile" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-person-dash svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select userProfile" name="userProfile">
                                                {{ range $key, $profile := $device.UserProfiles }}
                                                {{ if $profile.Active }}
                                                <option value="{{ $key }}" selected>{{ $key }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $key }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtBrightness" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-brightness-high svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="background-color: transparent;border: 0;">
                                        <li>
                                            <input class="brightness-slider" type="range" id="brightnessSlider" name="brightnessSlider" min="0" max="100" value="{{ $deviceProfile.BrightnessSlider }}" style="margin-top:0" step="5" />
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtRgbProfile" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-lightbulb-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select mouseRgbProfile" name="mouseRgbProfile">
                                                {{ range $key, $mode := $rgbModes }}
                                                {{ if eq $mode $device.DeviceProfile.RGBProfile }}
                                                <option value="0;{{ $mode }}" selected>{{ $mode }}</option>
                                                {{ else }}
                                                <option value="0;{{ $mode }}">{{ $mode }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtPollingRate" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi bi-usb-plug-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select mousePollingRate" name="mousePollingRate">
                                                {{ range $key, $pr := $device.PollingRates }}
                                                {{ if eq $key $device.DeviceProfile.PollingRate }}
                                                <option value="{{ $key }}" selected>{{ $pr }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $pr }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtAngleSnapping" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                        <i class="bi fa-angle-down svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select mouseAngleSnapping" name="mouseAngleSnapping">
                                                {{ range $key, $sm := $device.SwitchModes }}
                                                {{ if eq $key $device.DeviceProfile.AngleSnapping }}
                                                <option value="{{ $key }}" selected>{{ $sm }}</option>
                                                {{ else }}
                                                <option value="{{ $key }}">{{ $sm }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>
                                    
                                    <button title="{{ .Lang "txtOpenRGBIntegration" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                    <i class="bi bi-lightbulb svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select openRgbIntegration" style="line-height: 1;">
                                                {{ if $deviceProfile.OpenRGBIntegration }}
                                                <option value="1" selected>Enabled</option>
                                                <option value="0">Disabled</option>
                                                {{ else }}
                                                <option value="1">Enabled</option>
                                                <option value="0" selected>Disabled</option>
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtRgbCluster" }}" class="btn btn-secondary-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;">
                                    <img src="/static/img/icons/icon-cluster.svg" alt="{{ .Lang "txtRgbCluster" }}" class="svg-icon svg-icon-sm svg-icon-heavy" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark shadow-sm" style="">
                                        <li>
                                            <select class="form-select rgbCluster">
                                                {{ if $device.DeviceProfile.RGBCluster }}
                                                <option value="1" selected>Enabled</option>
                                                <option value="0">Disabled</option>
                                                {{ else }}
                                                <option value="1">Enabled</option>
                                                <option value="0" selected>Disabled</option>
                                                {{ end }}
                                            </select>
                                        </li>
                                    </ul>

                                    <button title="{{ .Lang "txtSaveUserProfile" }}" class="btn btn-secondary-empty saveUserProfile" type="button" style="margin-top: 5px;">
                                        <i class="bi bi-save2-fill svg-icon svg-icon-sm svg-icon-heavy"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 1rem 1rem;margin: 0 auto;">
                                <div class="row gy-12">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="mouse" style="width: auto">
                                            <div class="row">
                                                {{ range $key, $pf := $device.DeviceProfile.Profiles }}
                                                <div style="margin-top: 10px;">
                                                    <div class="dpi-left">
                                                        <p style="color: rgba({{ $pf.Color.Red }}, {{ $pf.Color.Green }}, {{ $pf.Color.Blue }}, 1);">
                                                            {{ $pf.Name }}
                                                        </p>
                                                    </div>
                                                    <div class="dpi-middle">
                                                        <input type="range" min="200" max="18000" value="{{ $pf.Value }}" class="slider" id="stage{{ $key }}">
                                                    </div>
                                                    <div class="dpi-right">
                                                        <input class="form-control" id="stageValue{{ $key }}" type="text" value="{{ $pf.Value }}">
                                                    </div>
                                                </div>
                                                {{ end }}

                                                {{ if eq "mouse" $device.DeviceProfile.RGBProfile }}
                                                <div class="row" style="margin: 10px auto 0;">
                                                    {{ range $key, $dpiZone := $device.DeviceProfile.Profiles }}
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="card mb-4">
                                                            <div style="margin-top: 10px;">
                                                                <span style="margin-bottom: 10px;">DPI: {{ $dpiZone.Name }}</span>
                                                                <div>
                                                                    <input type="color" id="dpiColor{{ $key }}" value="{{ $dpiZone.Color.Hex }}" style="padding: 0;margin-bottom: 15px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                </div>

                                                <div class="row" style="margin: 10px auto 0;">
                                                {{ range $key, $zone := $device.DeviceProfile.ZoneColors }}
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="card mb-4">
                                                            <div style="margin-top: 10px;">
                                                                <span style="margin-bottom: 10px;">{{ $zone.Name }}</span>
                                                                <div>
                                                                    <input type="color" id="zoneColor{{ $key }}" value="{{ $zone.Color.Hex }}" style="padding: 0;margin-bottom: 15px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                                </div>
                                                {{ end }}
                                            </div>
                                        </div>
                                        <div style="margin: 0 auto;">
                                            <div style="float: left;width: 530px;">
                                                <button class="btn btn-secondary" id="default5DPI" style="margin-top: 10px;float: left;margin-left: 10px;">
                                                    <span>{{ .Lang "defaultValue" }}</span>
                                                </button>
                                                <button class="btn btn-secondary" id="saveDPI" style="margin-top: 10px;float: left;margin-left: 10px;">
                                                    <span>{{ .Lang "txtSaveDpi" }}</span>
                                                </button>
                                                {{ if eq "mouse" $device.DeviceProfile.RGBProfile }}
                                                <button class="btn btn-secondary" id="saveZoneColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                                    <span>{{ .Lang "txtSaveZoneColors" }}</span>
                                                </button>
                                                <button class="btn btn-secondary" id="saveDpiColors" style="margin-top: 10px;float: left;margin-left: 10px;">
                                                    <span>{{ .Lang "txtSaveDpiColors" }}</span>
                                                </button>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="mouse" style="width: auto">
                                            <div class="row">
                                                <table class="table mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th style="text-align: left;">{{ .Lang "txtKeyAssignment" }}</th>
                                                        <th>
                                                            {{ .Lang "defaultValue" }}
                                                            <i style="cursor: pointer;" class="bi bi-info-circle-fill svg-icon svg-icon-sm svg-icon-heavy defaultInfoToggle"></i>
                                                        </th>
                                                        <th>
                                                            {{ .Lang "txtPressAndHold" }}
                                                            <i style="cursor: pointer;" class="bi bi-info-circle-fill svg-icon svg-icon-sm svg-icon-heavy pressAndHoldInfoToggle"></i>
                                                        </th>
                                                        <th>{{ .Lang "txtAssignmentType" }}</th>
                                                        <th>{{ .Lang "txtAssignmentKey" }}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{ range $key, $value := $device.KeyAssignment }}
                                                    {{ if eq $key 1 }}
                                                    {{ continue }}
                                                    {{ end }}
                                                    <tr>
                                                        <th scope="row" style="text-align: left;">{{ $value.Name }}</th>
                                                        <td>
                                                            {{ if $value.Default }}
                                                            <input id="default_{{ $key }}" type="checkbox" checked/>
                                                            {{ else }}
                                                            <input id="default_{{ $key }}" type="checkbox" />
                                                            {{ end }}
                                                        </td>
                                                        <td>
                                                            {{ if $value.ActionHold }}
                                                            <input id="pressAndHold_{{ $key }}" type="checkbox" checked/>
                                                            {{ else }}
                                                            <input id="pressAndHold_{{ $key }}" type="checkbox" />
                                                            {{ end }}
                                                        </td>
                                                        <td>
                                                            <select class="form-select keyAssignmentType" id="keyAssignmentType_{{ $key }}">
                                                                {{ range $k, $v := $device.KeyAssignmentTypes }}
                                                                {{ if eq $value.ActionType $k }}
                                                                <option value="{{ $k }}" selected>{{ $v }}</option>
                                                                {{ else }}
                                                                <option value="{{ $k }}">{{ $v }}</option>
                                                                {{ end }}
                                                                {{ end }}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            {{ if $value.IsMacro }}
                                                            <select class="form-select" id="keyAssignmentValue_{{ $key }}">
                                                                {{ range $k, $v := $macros }}
                                                                {{ if eq $value.ActionCommand $k }}
                                                                <option value="{{ $k }}" selected>{{ $v.Name }}</option>
                                                                {{ else }}
                                                                <option value="{{ $k }}">{{ $v.Name }}</option>
                                                                {{ end }}
                                                                {{ end }}
                                                            </select>
                                                            {{ else }}
                                                            <select class="form-select" id="keyAssignmentValue_{{ $key }}">
                                                                {{ range $k, $v := $device.InputActions }}
                                                                {{ if eq $value.ActionCommand $k }}
                                                                <option value="{{ $k }}" selected>{{ $v.Name }}</option>
                                                                {{ else }}
                                                                <option value="{{ $k }}">{{ $v.Name }}</option>
                                                                {{ end }}
                                                                {{ end }}
                                                            </select>
                                                            {{ end }}
                                                        </td>
                                                        <td style="text-align: right;">
                                                            <button class="btn btn-secondary saveKeyAssignment" data-info="{{ $key }}">
                                                                <span>{{ $root.Lang "txtSave" }}</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {{ end }}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/overview.js"></script>
<script src="/static/js/mouse.js"></script>
</body>
</html>