<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $device := .Device }}
        {{ $languageCode := .LanguageCode }}
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>
        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="ctn">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-3" style="margin: 0 auto;">
                                <div class="card mb-2">
                                    <div class="card-header border-bottom border-dash-dark-1">{{ .Lang "txtDashboard" }}</div>
                                    <div class="card-body">
                                        <table style="width: 100%;">
                                            <tbody>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowCpuInDashboard" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-cpu" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowGpuInDashboard" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-gpu" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowStorageInDashboard" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-storage" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowDevicesInDashboard" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-devices" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowTempInC" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-celsius" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowDeviceLabels" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-deviceLabels" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">{{ .Lang "txtShowBatterInfo" }}</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <input class="form-check-input" id="checkbox-battery" type="checkbox">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 80%;height:40px;">Language</th>
                                                <th style="width: 20%;text-align: right;">
                                                    <select class="form-select userLanguage" id="userLanguage">
                                                        {{ range $k, $v := .Languages }}
                                                        {{ if eq $languageCode $k }}
                                                        <option value="{{ $k }}" selected>{{ $v.Name }}</option>
                                                        {{ else }}
                                                        <option value="{{ $k }}">{{ $v.Name }}</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-body" style="padding: 1rem 1rem;border-top: 1px solid #34373d !important;">
                                        <div class="input-group">
                                            <button class="btn btn-primary" type="button" id="btnSaveDashboardSettings">{{ .Lang "txtSave" }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-header border-bottom border-dash-dark-1">{{ .Lang "txtBackupRestore" }}</div>
                                    <div class="card-body">
                                        {{ .Lang "txtBackupInfo" }}
                                    </div>
                                    <div class="card-body" style="padding: 1rem 1rem;border-top: 1px solid #34373d !important;">
                                        <div class="input-group">
                                            <div style="float: left;width: 20%;">
                                                <button class="btn btn-primary" type="button" id="btnBackup">{{ .Lang "txtBackup" }}</button>
                                            </div>
                                            <div style="float: right;width: 80%;">
                                                <form id="restoreForm" enctype="multipart/form-data">
                                                    <div class="input-group">
                                                        <input type="file" class="form-control" id="backupFile" name="backupFile" accept=".zip">
                                                        <button class="btn btn-success" type="submit" id="btnRestore">
                                                            {{ .Lang "txtRestore" }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9" style="margin: 0 auto;">
                                <div class="card mb-2">
                                    <div class="card-header border-bottom border-dash-dark-1">{{ .Lang "txtSupportedDevices" }}</div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table text-sm" id="supported-devices" style="width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>{{ .Lang "txtProductId" }}</th>
                                                    <th>{{ .Lang "txtProductName" }}</th>
                                                    <th>{{ .Lang "txtEnabled" }}</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 1rem 1rem;border-top: 1px solid #34373d !important;">
                                        <div class="input-group">
                                            <div style="float: left;">
                                                <button class="btn btn-primary" type="button" id="btnSaveSupportedDevices">{{ .Lang "txtSave" }}</button>
                                            </div>
                                            <div style="display: flex; align-items: center; float: right; margin-left: 10px;">
                                                <p style="margin: 0;">
                                                    {{ .Lang "txtServiceRestartRequired" }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/dataTables.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/settings.js"></script>
</body>
</html>