<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="d-flex align-items-stretch">
    <div class="page-content">
        {{ $devs := .Devices }}
        {{ $device := .Device }}
        {{ $root := . }}
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                {{ template "navigation" . }}
            </div>
        </div>
        <section class="pt-0 pt-sm-4">
            <div class="container-fluid">
                <div class="row gy-4">
                    <div class="col-lg-2">
                        <div class="card newTemp" data-bs-toggle="modal" data-bs-target="#newTempModal" style="margin-bottom: 20px;">
                            <div class="card-body">
                                <div class="row gx-12">
                                    <div class="col-12">
                                        <div>
                                            <p class="text-xl fw-normal mb-0">{{ .Lang "txtNewProfile" }}</p>
                                            <p class="text-uppercase text-sm fw-light mb-2">{{ .Lang "txtCreateNewProfile" }}</p>
                                            <div class="progress" style="height: 2px">
                                                <div class="progress-bar bg-dash-color-1" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade text-start" id="newTempModal" tabindex="-1" aria-labelledby="newTempModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newTempModalLabel">{{ .Lang "txtNewTempProfile" }}</h5>
                                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label class="form-label" for="profileName">{{ .Lang "txtProfileName" }}</label>
                                                <input class="form-control" id="profileName" type="text">

                                                <label class="form-label" for="sensor">{{ .Lang "txtSensor" }}:</label>
                                                <select class="form-select mb-1 tempProfile" id="sensor">
                                                    <option value="0" selected>CPU</option>
                                                    <option value="1">GPU</option>
                                                    <option value="2">Liquid Temperature</option>
                                                    <option value="3">Storage Temperature</option>
                                                    <option value="4">Temperature Probe</option>
                                                    <option value="5">CPU + GPU</option>
                                                    <option value="6">External HWMON</option>
                                                    <option value="8">Multi GPU</option>
                                                    <option value="9">Global Temperature Probe</option>
                                                </select>

                                                {{ if .TemperatureProbes }}
                                                <div id="temperature-probe-data" style="display: none;">
                                                    <label class="form-label" for="probeData">{{ .Lang "txtTemperatureProbe" }}:</label>
                                                    <select class="form-select mb-1 tempProfile" id="probeData">
                                                        <option value="0;0" selected>Select probe</option>
                                                        {{ range .TemperatureProbes }}
                                                        {{ range . }}
                                                        <option value="{{ .Serial }};{{ .ChannelId }}">{{ .Product }} - {{ .Name }} ({{ .Label }})</option>
                                                        {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                                {{ end }}

                                                {{ if .HwMonSensors }}
                                                <div id="hwmon-sensors-probe-data" style="display: none;">
                                                    <label class="form-label" for="probeData">{{ .Lang "txtHwMonSensor" }}:</label>
                                                    <select class="form-select mb-1 tempProfile" id="hwmon-probeData">
                                                        <option value="0;0" selected>Select sensor</option>
                                                        {{ range .HwMonSensors }}
                                                        <option value="{{ .HwmonName }};{{ .InputName }};{{ .SensorName }}">{{ .SensorName }} - {{ .Label }} - {{ .TempC }} °C</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                                {{ end }}

                                                <div id="binary-sensors-probe-data" style="display: none;">
                                                    <label class="form-label" for="probeData">{{ .Lang "txtExternalBinary" }}:</label>
                                                    <input class="form-control" id="binary-probeData" type="text" placeholder="Path to binary">
                                                </div>

                                                {{ if .SystemInfo.Storage }}
                                                <div id="storage-data" style="display: none;">
                                                    <label class="form-label" for="hwmonDeviceId">{{ .Lang "txtStorageDevice" }}:</label>
                                                    <select class="form-select mb-1 tempProfile" id="hwmonDeviceId">
                                                        {{ range .SystemInfo.Storage }}
                                                        <option value="{{ .Key }}">{{ .Model }}</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                                {{ end }}

                                                {{ if .SystemInfo.GPU }}
                                                <div id="gpu-data" style="display: none;">
                                                    <label class="form-label" for="gpuIndex">{{ .Lang "txtGpuDevice" }}:</label>
                                                    <select class="form-select mb-1 tempProfile" id="gpuIndex">
                                                        {{ range .SystemInfo.GPU }}
                                                        <option value="{{ .Index }}">{{ .Model }} - {{ .TemperatureString }}</option>
                                                        {{ end }}
                                                    </select>
                                                </div>
                                                {{ end }}

                                                <div class="form-check">
                                                    <input class="form-check-input" id="staticCheckbox" type="checkbox">
                                                    <label class="form-check-label" for="staticCheckbox">{{ .Lang "txtStaticTemp" }}</label>
                                                </div>
                                                <!--
                                                <div class="form-check" id="linear-data" style="display: none;">
                                                    <input class="form-check-input" id="linearCheckbox" type="checkbox">
                                                    <label class="form-check-label" for="linearCheckbox">Linear (linear temperature / rpm interpolation)</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" id="zeroRpmCheckbox" type="checkbox" disabled>
                                                    <label class="form-check-label" for="zeroRpmCheckbox">Zero RPM (Only for AIOs that support Zero RPM)</label>
                                                </div>
                                                -->
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{{ .Lang "txtClose" }}</button>
                                        <button class="btn btn-primary" type="button" id="btnSaveNewProfile">{{ .Lang "txtCreate" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade text-start" id="deleteTempModal" tabindex="-1" aria-labelledby="newTempModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteTempModalLabel">{{ .Lang "txtDeleteTempProfile" }}</h5>
                                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-1">
                                            <p>{{ .Lang "txtDeleteTempProfileConfirm" }}</p>
                                            <p style="color: #dc3545">{{ .Lang "txtDeleteTempProfileDesc" }}</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{{ .Lang "txtClose" }}</button>
                                        <button class="btn btn-danger" type="button" id="delete">{{ .Lang "txtDelete" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ range $key, $value := .Temperatures }}
                        {{ if eq $value.Hidden true }}
                        {{ continue }}
                        {{ else if eq $key "Normal" }}
                        {{ continue }}
                        {{ else if eq $key "Performance" }}
                        {{ continue }}
                        {{ else if eq $key "Quiet" }}
                        {{ continue }}
                        {{ else }}
                        <div class="card tempList" id="{{ $key }}" style="margin-bottom: 20px;">
                            <div class="card-body">
                                <div class="row gx-12">
                                    <div class="col-12">
                                            <div>
                                                <p class="text-xl fw-normal mb-0">{{ $key }}</p>
                                                <p class="text-uppercase text-sm fw-light mb-1">{{ $root.Lang "txtModes" }}: {{ len $value.Profiles }}</p>
                                                {{ if eq $value.Sensor 0 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: CPU</p>
                                                {{ else if eq $value.Sensor 1 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: GPU</p>
                                                {{ else if eq $value.Sensor 2 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Liquid</p>
                                                {{ else if eq $value.Sensor 3 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Storage</p>
                                                <p class="text-uppercase text-sm fw-light mb-2">Device ID: {{ $value.Device }}</p>
                                                {{ else if eq $value.Sensor 4 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Temperature Probe</p>
                                                {{ else if eq $value.Sensor 5 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: CPU + GPU</p>
                                                {{ else if eq $value.Sensor 6 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Hwmon</p>
                                                {{ else if eq $value.Sensor 7 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Binary</p>
                                                {{ else if eq $value.Sensor 8 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Multi GPU</p>
                                                {{ else if eq $value.Sensor 9 }}
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtSensor" }}: Global Probe</p>
                                                <p class="text-uppercase text-sm fw-light mb-2">{{ $root.Lang "txtDevice" }}: {{ $value.Device }}</p>
                                                {{ end }}

                                                <!--
                                                {{ if $value.ZeroRpm }}
                                                <p class="text-uppercase text-sm fw-light mb-2">Zero RPM: Enabled</p>
                                                {{ else }}
                                                <p class="text-uppercase text-sm fw-light mb-2">Zero RPM: Disabled</p>
                                                {{ end }}
                                                -->
                                                <div class="progress" style="height: 2px">
                                                    <div class="progress-bar bg-dash-color-5" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <input type="hidden" id="profile" name="profile" value="">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="table-responsive">
                                        <table class="table text-sm" id="table" style="width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>{{ .Lang "txtId" }}</th>
                                                <th>{{ .Lang "txtMinTemp" }}</th>
                                                <th>{{ .Lang "txtMaxTemp" }}</th>
                                                <th>{{ .Lang "txtFanSpeed" }}</th>
                                                <th>{{ .Lang "txtPumpSpeed" }}</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="btn btn-success" type="button" id="updateBtn" style="float: right;display:none">{{ .Lang "txtUpdate" }}</button>
                        <button class="btn btn-danger" type="button" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteTempModal" style="display:none">{{ .Lang "txtDelete" }}</button>
                    </div>
                </div>
            </div>
        </section>
        {{ template "footer" . }}
    </div>
</div>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/dataTables.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/temperature.js"></script>
</body>
</html>